[2015-02-03 04:23] leiradel opened #1 "The keyboard overlay is unreliable"
Sometimes key presses are not registered using the keyboard overlay.

[2015-02-03 04:26] leiradel opened #2 "The Great Escape hangs while fast-loading"
Happens on Linux 64-bits when using the TZX format. Works ok in Win32.

[2015-02-03 04:29] leiradel opened #3 "Implement the keyboard"
Right now the keyboard overlay is the only means of "pressing" keys. While is nice to be able to do it with the controller, handling a real keyboard is nice for those who have one (most people) and for completeness.

[2015-02-03 04:29] leiradel opened #4 "Support save states"
The title says it all.

[2015-02-03 04:30] leiradel opened #5 "Emulate other machines"
Fuse supports many Spectrum computers, but we only emulate the ZX Spectrum 48K.

[2015-02-03 04:31] leiradel opened #6 "Hide the border"
While it's nice to watch the border moving while slow-loading a game, it would be nice if the game could occupy the entire screen by hiding the border.

[2015-02-03 21:09] leiradel commented on #1
keyb_hold_time was being initialized to milli seconds instead of micro seconds, so the keys were being released too fast for the emulation to reliably register them.

[2015-02-03 21:09] #1 closed

[2015-02-04 00:30] Oggom opened #7 "Baking in BIOS files"
To my knowledge most of the BIOS files for the ZX Spectrum have been released as freeware and could therefore be baked in within the libretro core to get rid of having them as an additional dependency. Mainline does includes as part of their distribution too.

Further info:
http://www.shadowmagic.org.uk/spectrum/roms.html

[2015-02-04 04:55] leiradel commented on #7
This is done. Only 48.rom and tape_48.szx are baked within the core as they're the only ones being used by now.

[2015-02-04 04:55] #7 closed

[2015-02-04 22:35] leiradel commented on #4
Implemented.

[2015-02-04 22:35] #4 closed

[2015-02-06 03:27] leiradel opened #8 "The keyboard is still unreliable"
If the user presses a key and quickly presses another key (before the key release timeout) in the keyboard overlay, the first key will never be released.

The easy fix is to only generate key presses if a key release isn't in flight. The hard fix is to allow multiple key releases in flight concurrently, but it's too much trouble for too little benefit.

[2015-02-06 05:34] #8 closed

[2015-02-06 05:43] leiradel commented on #6
Now there's a core option to show/hide the screen border without changing the resolution.

[2015-02-06 05:43] #6 closed

[2015-02-11 12:50] leiradel commented on #2
@almostalive, could you send me the TZX file that was causing problems? Thanks.

[2015-02-22 23:11] leiradel commented on #5
fuse-libretro now emulates all machines supported by Fuse and that have their ROMs distrubuted under clear terms. That leaves the Pentagons and the Scorpion out.

[2015-02-22 23:11] #5 closed

[2015-02-22 23:15] leiradel commented on #2
The problematic TZX file was identical to the one I've downloaded from World of Spectrum, and it works just fine. It was probably an issue with an early fuse-libretro build.

[2015-02-22 23:15] #2 closed

[2015-02-22 23:21] leiradel opened #10 "Keyboard overlay doesn't generate key pressed for all keys"
It seems it doesn't generate key pressed for all letters.

[2015-02-22 23:29] #10 closed

[2015-02-25 04:10] #3 closed

[2015-05-02 23:02] neilmunday opened #12 "Unable to use control pad with fuse-libretro"
Hi,

I apologies in advance if this is user error...

I have been trying to use my PlayStation 3 control pads with fuse-libretro but the only button that the emulator responds to is the select button which brings up the keyboard overlay. No matter what buttons I press the emulator does not respond to the input (even the overlay).

The control pads work fine with all the other emulator cores that I

[2015-05-02 23:14] leiradel commented on #12
Hi,

Go to RetroArch's input settings, set the first controller to Kempston, and try again.

Cheers,

Andre

[2015-05-03 21:38] neilmunday commented on #12
Hi Andre,

Thanks for the quick response - that did the trick. I clearly missed it when hunting through all the options yesterday!

Cheers,

Neil.

[2015-05-03 21:38] #12 closed

[2015-05-03 22:16] leiradel commented on #12
Glad it worked!

[2015-06-12 15:20] windale opened #13 "Please add .rzx format and question about other formats."
Hi, could you please add .RZX format please ? This allows us to watch Replays of games being completed (rzxarchive.co.uk).

Could you also add a pause button that DOESN'T add anything on the screen (like a menu) so we can pause and read RZX text adventures that skip too fast to read.

Also, what about .TRD and .SCL formats (Pentagon etc.). These have some great demos. I know you need extra roms bu

[2015-06-13 01:05] leiradel commented on #13
Hey,

Pause button: Just press "P".

TRD & SCL: I'll need to bake the extra roms into the core, and add core options to enable/disable them, so allow me some time to add these.

RZX: Do replays found on the Internet include the game's snapshot? If they don't, the core will fail to load the game.

[2015-06-14 02:08] leiradel commented on #13
I've added RZX as a valid Fuse core extension and it works as expected with a .rzx file downloaded from RZX Archive.

If the RZX file doesn't contain a snapshot of the game, the core will *not* play the recording since it won't be able to load the game from the file system.

I'm closing this issue and will create two others for the TRD and SCL extensions.

[2015-06-14 02:08] #13 closed

[2015-06-14 02:08] leiradel opened #14 "Support TRD files"

[2015-06-14 02:09] leiradel opened #15 "Support SCL files"

[2015-06-14 02:11] leiradel opened #16 "Allow machines to run at either 50 or 60 Hz depending on a core option"
This will provide smooth screen refreshes without tearing after the user set the core option to match his/her monitor refresh rate.

[2015-06-14 15:13] windale opened #17 "How do you open the menu ? No buttons work ?"
I just updated to RetroPie 3 beta 3 and can't get any buttons to work except the Select button which brings up the on-screen keyboard. USB keyboard doesn't work either ?

[2015-06-14 15:24] leiradel commented on #17
The RetroArch menu is activated with F1. Try to configure the inputs as follows:

User 1: Cursor Joystick
User 2: Kempston Joystick
User 3: Sinclair Keyboard

Let me know if it works.

[2015-06-14 16:19] windale commented on #17
I can't press F1 because none of the keys work on the external keyboard. If I enter the Retroarch menu with my Joypad (Hotkey+SNES Pad button X) the Retroarch menu comes up and says press X etc. to continue but no buttons work. I have to turn off the Pi.

[2015-06-14 17:42] leiradel commented on #17
So it doesn't seem to be an issue in the fuse core. I suggest you to open an issue for RetroArch instead.

If the fuse core controllers continue *not* working after you solve the problem in RetroArch, please reopen this issue.

[2015-06-14 17:42] #17 closed

[2015-06-14 21:59] leiradel commented on #15
@windale, please point me to a SCL file that you know for sure that works, and give me detailed instructions on how I run it.

I've put everything in place to load SCL files but I don't know how to use TR-DOS, so I'm unable to test and commit the changes.

[2015-06-14 23:33] leiradel commented on #15
No need for that, support for SCL files was added with the latest commit.

[2015-06-14 23:33] #15 closed

[2015-06-14 23:33] leiradel commented on #14
Added.

[2015-06-14 23:33] #14 closed

[2015-06-15 16:27] sergiobenrocha2 opened #18 "MAX_PATH undeclared"
Trying to build for linux

[code]

https://launchpadlibrarian.net/209095601/buildlog_ubuntu-trusty-amd64.libretro-fuse_1.1.1%2Br72~2~ubuntu14.04.1_BUILDING.txt.gz

[2015-06-15 17:02] leiradel commented on #18
Fixed, thanks for the report.

[2015-06-15 17:02] #18 closed

[2015-06-16 14:04] sergiobenrocha2 opened #19 "zlib header error in the build"
Another issue now, why the core is using zlib? And what's this "git not found" ?

[code]

https://launchpadlibrarian.net/209179035/buildlog_ubuntu-trusty-amd64.libretro-fuse_1.1.1%2Br74~2~ubuntu14.04.1_BUILDING.txt.gz

[2015-06-16 16:37] leiradel commented on #19
I've added zlib and bzip2 to the include path, the build should work now, but I'll leave the issue open until it can be validated.

zlib and bzip2 were added to support file formats with compression, like RZX.

[2015-06-16 16:53] leiradel commented on #19
And git is used to add the commit hash to the build, so the core outputs it when it's loaded and reports can refer to a specific version.

[2015-06-17 23:58] leiradel commented on #19
@sergiobenrocha2 any word about this?

[2015-06-18 00:26] sergiobenrocha2 commented on #19
It's working, thanks!

[2015-06-18 00:26] #19 closed

[2015-07-08 05:49] sergiobenrocha2 opened #20 "RA does not respond for some seconds soon after load fuse"
I can't access RA menu for some seconds soon after load fuse (black screen), neither exit RA.

[2015-07-08 13:13] leiradel commented on #20
It seems there's a busy loop somewhere, I think it's at libretro.c:881. I'll do some tests and try to fix the issue.

[2015-07-26 11:12] twinaphex opened #21 "Portability issues (on PS3)"
Remaining portability issues (this is explicitly for PS3 now, but other platforms will have even more stripped toolchains so let's please take care of all this 'platform' code in FUSE and make it resemble something far more portable than what it is right now) -

Command line : error: L0039: reference to undefined symbol `.getopt_long' in file "Z:\home\squarepusher\libretro-super\retroarch\libretro

[2016-03-01 18:48] windale commented on #15
I'm having trouble getting any of these to work. Does FUSE need more roms baked ? I have tried several from this site http://vtrdos.ru/ all unzipped, but none of them want to load. I have tried setting the Retroarch option to Scorpion 256K but no result. They work fine on PC (Spectaculator) and Nintendo DS (ZXDS).

[2016-03-01 18:50] windale opened #23 "SCL & TRD compatibility."
I'm having trouble getting any SCL files to work. Does FUSE need more roms baked ? I have tried several from this site http://vtrdos.ru/ all unzipped, but none of them want to load. I have tried setting the Retroarch option to Scorpion 256K but no result. They work fine on PC (Spectaculator) and Nintendo DS (ZXDS).

I also cannot get TRD files to work. I tried Metal Man Reloaded from http://www.ol

[2016-03-01 19:05] leiradel commented on #23
Pentagon and Scorpion machines need additional ROMs to work. Please follow the instructions at https://github.com/libretro/fuse-libretro/blob/master/README.md under the **Emulated Machines** section and let me know if it solves the problem of loading `SCL` and `TRD` files.

[2016-03-01 20:37] windale commented on #23
I'm not sure where to put the roms in retropie. The link you showed me said to put the roms in a 'fuse' folder inside the <system> folder. I put them in -

/opt/retropie/libretrocores/lr-fuse/fuse

it didn't work, I also tried -

/opt/retropie/libretrocores/lr-fuse

This is the log file -

retro_read_file: Failed to open /home/pi/RetroPie/roms/zxspectrum/Action Force I + II (1987) (Virgin Games).i

[2016-03-01 23:08] leiradel commented on #23
You have to check in RetroArch where the `system` folder is located, and follow the instructions in the previous link.

[2016-03-02 11:15] windale commented on #23
In RetroPie it says the RetroArch system directory is in -
system_directory = /home/pi/RetroPie/BIOS

I put the following roms in there but it still says 'couldn't find ROM'

128p-0.rom   128p-1.rom
256s-0.rom   256s-1.rom   256s-2.rom   256s-3.rom
gluck.rom
if1-1.rom   if1-2.rom
opus.rom
trdos.rom

[2016-03-02 11:27] leiradel commented on #23
Create a `fuse` folder under the system folder and move the ROMs there.

[2016-03-02 11:35] windale commented on #23
O.K. i'm slowly getting somewhere now. I put the roms in a fuse folder. The TRD file works, but the SCL files just go to the white TRDOS screen with a command prompt at the bottom. If I type LIST it shows the inserted disk but it's not auto-booting.

[2016-03-02 13:06] windale commented on #23
Is there any chance you could make these auto-boot ?

If you type LIST it shows you the names on the disk, the ones with <B> next to them are bootable. Load them by typing LOAD "filename". (The filenames are case sensitive). You probably know all this already.

Also, in TRDOS the Q and W keys on the keyboard don't seem to work so some filenames are impossible to type. They work once in game though

[2016-03-02 21:22] leiradel commented on #23
Auto-booting a file from a disk image is not the job of the emulator. You can write a TR-DOS autoboot file that does the right thing (TM) for each disk image.

As for the keys, you can enable a hotkey in RetroArch to make the entire keyboard available for the emulator. You can also press select to bring up the virtual keyboard and use it to send keystrokes to the emulator.

I'm closing this issue

[2016-03-02 21:22] #23 closed

[2016-03-03 10:36] windale opened #24 "SCL auto-boot and keyboard issues"
You closed my last issue before I could reply so I had to open another one.

You say I have to create an auto-boot manually for every game ?!? Other Spectrum emulators can auto-boot them fine. Is it not possible for you to implement this or you're not sure how ?

My physical keyboard already works but in TRDOS the Q and W keys don't work for some reason. This makes typing some filenames in to "man

[2016-03-03 11:49] leiradel commented on #24
I closed the other issue because it was about TRD and SCL files not working, and they were.

This issue has two different subjects. Ideally we take care of only one problem per issue to properly manage bugs and feature requests.

Anyway, I've tried a couple of games with Fuse and it doesn't start them automatically. Fire & Ice (http://www.worldofspectrum.org/infoseekid.cgi?id=0015215) does autoboo

[2016-03-03 11:55] leiradel commented on #24
I forgot one thing: the virtual keyboard should treat the shift keys as toggle keys, so I'll open a bug to fix that.

[2016-03-03 11:59] leiradel opened #25 "Shift keys should be toggle keys on the virtual keyboard"
I'll try to port the virtual keyboard code from 81-libretro as it has toggle keys built-in.

[2016-03-03 12:48] windale commented on #24
So is there no chance of you making lr-fuse better than regular fuse by making SCL files auto-boot ?

I just tried a couple of text adventures (Hunchback & Neverending Story) and the Q and W keys work. So why don't they work in TRDOS ? All keys work fine all the time in regular Fuse.

[2016-03-03 13:03] leiradel commented on #24
If the SCL or TRD disk image has more than one executable file, which one should be run? If there's a boot file (which is automatically executed by TR-DOS), should we let it run (it can load something other than the game, i.e. Fire & Ice) or should we run a different file? Which one?

As you can see, it's not possible to correctly autoboot files in all the cases. The only reliable way to do that i

[2016-03-03 13:03] #24 closed

[2016-03-03 13:10] windale commented on #24
Please stop closing these threads, I had something else to report on this.

[2016-03-03 13:17] windale opened #26 "temp, Can you please leave the thread open, I had something to report back on the last thread you closed"
Regarding the keyboard issue, as I said in the other thread before you closed it again, in LR-Fuse the Q and W keys dont work in TRDOS but when I loaded a text adventure (Neverending Story & Hunchback), the Q and W keys work. If it was down to Retro-Arch then they wouldn't work in-game either ?

Regarding the auto-boot, in the PC emulator Spectaculator and ZXDS. There is an option (On by default)

[2016-03-03 13:26] leiradel opened #27 "Autoboot first executable file in TR-DOS disk images"
@windale said

'Regarding the auto-boot, in the PC emulator Spectaculator and ZXDS. There is an option (On by default) to "automatically load and run first program in SCL files". It seems to work fine on every SCL file i've ever tried.'

I'll leave this issue here with the hope that someone chimes in and implements it. There must be a core option to disable this autoboot for the cases where the fi

[2016-03-03 13:28] leiradel opened #28 "Problems with some keys in TR-DOS"
@windale said

"Regarding the keyboard issue, as I said in the other thread before you closed it again, in LR-Fuse the Q and W keys dont work in TRDOS but when I loaded a text adventure (Neverending Story & Hunchback), the Q and W keys work. If it was down to Retro-Arch then they wouldn't work in-game either ?"

I'll try to reproduce the problem.

[2016-03-03 13:29] leiradel commented on #26
Ok, I've split the issues for you.

[2016-03-03 13:29] #26 closed

[2016-03-03 22:18] leiradel commented on #28
@windale can you provide a link to download one of the disk images you mentioned as having problems with the keyboard? I can only find tape images.

[2016-03-03 22:43] leiradel commented on #28
@windale, I've tried Viking Quest 1 and I think I know what your problem is. First make sure you have a hotkey defined in RetroArch. Go to:

**Settings tab -> Input -> Input Hotkey Binds -> Enable hotkeys**

and define a key that will enable all other RetroArch hotkeys (I use `tilde`). What that means in practice is that you'll no longer be able to access the menu by pressing F1, you'll have to pr

[2016-03-04 11:15] windale commented on #28
I don't have a hotkey assigned on the keyboard, only on the joypad (Select+X). As I said, on some games the Q and W keys work, like the Hunchback link below. Note, you also have to type RUN after manually loading the SCL.

http://vtrdos.ru/gamez/h/HUNCH_3_.ZIP

Do the Q and W keys work on yours when in the TRDOS Beta 128 screen (at the bottom where you type the commands) ? When the games are actua

[2016-03-04 14:08] leiradel commented on #28
I've just tested Hunchback and all keys, including `Q` and `W`, work just fine both in TR-DOS, before loading the game, and in the game. Actually the number keys don't work inside the game (they do inside TR-DOS), but I've tested Kayleth and all keys work so it's definitely a problem with Hunchback.

I'm positive that all you have to do is to configure RetroArch and the Fuse core as instructed bef

[2016-03-04 14:08] #28 closed

[2016-05-01 09:53] molesmile opened #29 ""Recreated Sinclair ZX Spectrum" bluetooth keyboard support"
A friend of mine created a tiny patch for FUSE 1.1.1 to be able to use it with the Recreated ZX Spectrum in Mode A (“Game Mode”). You can find and download the code here: http://blogs.newphoria.de/2016/04/15/using-recreated-zx-spectrum-with-fuse-1-1-1-emulator/
I compiled it and tested it on fuse (non libretro) with RetroPie and it works like a charm. Then I tried to compile his code on lr-fuse bu

[2016-05-01 15:52] leiradel commented on #29
I'm sorry but I'm not following, and I couldn't find your changes to Fuse and try to find out what this is all about. Could you explain what ZX Spectrum in Mode A is, and what changes you made to Fuse to support it?

Thanks.

[2016-05-01 16:59] molesmile commented on #29
Ok. The recreated Sinclair ZX Spectrum is a bluetooth keyboard which has two different keyboard modes. A mode simulates the actual zx spectrum keyboard with it's own key commands for example the LOAD button etc. B mode is the normal keyboard.
There's a developer manual from Ultimate how this "a mode" technically works:
http://sinclair.recreatedzxspectrum.com/downloads/ZX%20Keyboard%20Technical%20D

[2016-05-01 17:02] molesmile commented on #29
Download this and you will see the changes:
http://blogs.newphoria.de/wp-content/uploads/2016/04/rzxinput003.zip

[2016-05-01 20:53] leiradel commented on #29
Does mode B work with fuse-libretro? If it doesn't, in which way it fails since it's an USB keyboard? If it does, what are the benefits of mode A over mode B?

[2016-05-01 21:11] molesmile commented on #29
The differences between a and mode is described in the pdf i posted above. B mode works only as a qwerzy keyboard in libretro. As soon you need to use symbol shift or caps shift the b mode is useless.

[2016-05-01 21:46] leiradel commented on #29
The correct solution here is to bug the keyboard developer to fix their product, i.e. make it send keycodes for the Caps Shift and Symbol Shift keys in Mode B, which could then be mapped in the emulator with ease, instead of forcing emulators to have a setting for the Mode A and a mapping for its weird keycodes. It seems to me they're trying to tie the keyboard with their mobile application.

[2016-05-01 21:46] #29 closed

[2016-05-01 22:28] molesmile commented on #29
Yes, but unfortunately there's no other workaround. But Fuse works well with this added code and i tested it on many games. I thought I let you know about.
Don't get me wrong can understand your argumentation totally.
There's another Spectrum emulator on Mac called Retro Virtual Machine which has A Mode support as well.
Anyway, thanks for your interest.

[2016-05-01 22:48] leiradel commented on #29
Sorry if that came too harsh. I don't know how large is the Recreated Sinclair ZX Spectrum user base, but I can see the benefit for fuse-libretro to support it.

Unfortunately times is in short supply. If you feel like giving a try to add support for it in fuse-libretro, the most relevant files are `src/compat/ui.c`, which translates libretro input keycodes to the Fuse ones in `ui_event`, and `src

[2016-05-02 16:47] paradadf opened #30 "Add support for .ipf format"
Hi! Would it be possible to allow IPF file extentions?

[2016-05-02 19:17] leiradel commented on #30
Hi,

I'm sorry, but this format isn't open source and has binaries for only a handful of platforms. Being a libretro core, fuse-libretro supports many additional platforms which are unsupported by IPF.

Besides, Fuse and fuse-libretro are licensed under the GPL, which is incompatible with the closed-source IPF license, and there isn't anything that can be done in that regard.

If you can, ask the

[2016-05-02 19:17] #30 closed

[2016-05-15 16:39] paradadf commented on #30
Thanks for your answer! I saw this page ([IPF Support Library](http://www.softpres.org/download)) and wrote the people from SPS asking about it. Let's see what they say!

[2016-05-22 22:43] paradadf commented on #30
@leiradel I just got this answer:

It has been open-sourced quite some time ago. Please check
http://kryoflux.com/?page=download and look for "SPS decoder library".
The source download includes a LICENCE.txt file which can be used to
re-check compatibility.

I really hope you can add the support for this extension now.

[2016-05-23 20:13] leiradel commented on #30
Hm, it's not GPL, I'm not sure if the licenses are compatible...

@twinaphex do you know if this license is compatible with GPL?

[code]

[2016-05-23 20:17] paradadf commented on #30
I found something about this specific license on other libretro port https://github.com/libretro/hatari/blob/master/readme.txt

[2016-05-23 20:38] leiradel commented on #30
Well, it requires a change to Fuse's license then:

[code]

So the first step is to ask the Fuse developers to also include that exception, but my guess is that they will only do it if they intend to add IPF support themselves.

[2016-05-29 21:48] pak21 commented on #30
FWIW, I am Philip Kendall, the original author of large chunks of Fuse.

@leiradel is correct here - the SPS library is not compatible with the GPL v2 as used by Fuse (it's also not open source by any generally accepted definition of the term, but that's a different issue). It would also not be possible for Fuse to add the license exception as the Fuse team are not the copyright holders of all cod

[2016-05-29 22:35] leiradel commented on #30
Thanks for the clarification @pak21. Maybe the SPS folks will change their mind and this subject can be revisited.

[2016-06-02 22:20] pak21 commented on #27
This also exists as an [upstream feature request](https://sourceforge.net/p/fuse-emulator/feature-requests/90/).

[2016-06-08 01:42] leiradel opened #32 "Remove dependency on the perf interface"
After a conversation with @twinaphex some time ago, it looks like I should rely only on the emulation fixed frame rate rather than using a delta-time.

@vanfanel I have a branch that does that, would you mind using it for some time so we can be sure the change doesn't break something else? https://github.com/libretro/fuse-libretro/tree/noperf

Thanks!

[2016-06-12 19:09] ghost opened #33 "Fuse 1.3.4 update ?"
Is there going to be an update from the new Fuse 1.2 release ? I also noticed that the real time tape loading option doesn't work.

[2016-06-12 21:31] leiradel commented on #33
Tape loading is working just fine afaik. Is the problematic tape available for download so I can test it?

Wrt Fuse 1.2, I'll need some time to make the upgrade.

[2016-06-12 22:10] windale commented on #33
I meant when turning OFF fast loading, it still loads fast, it should be loading at normal speed with loading sound.

[2016-06-12 23:21] leiradel commented on #33
Yeah, slow tape loading seems a bit "iffy". I could make it work but not everytime. I'll take a look.

I'll take a look at Spectacol, we can have another ZX Spectrum core if it's easy to port. Thanks for the suggestion.

[2016-06-13 03:38] leiradel commented on #33
@windale I can't seem to find Spectacol's source code, is it open source? Do you have a link?

[2016-06-13 09:19] windale commented on #33
It's currently on Android.

https://github.com/bog-dan-ro/spectacol

[2016-06-13 12:33] leiradel commented on #33
Hm, so I don't see the point in porting Spectacol to libretro.

One of the goals when porting an emulator to libretro is to completely remove its UI, since all settings and game browsing is the front-end (i.e. RetroArch) responsibility. Since Spectacol is Fuse with a QML UI, removing the UI will result in a port very similar, if not equal, to fuse-libretro.

Spectacol begin based on Fuse 1.2 is no

[2016-06-13 13:09] windale commented on #33
You know more about this than me, whatever you think is best, although I would like to see the 3 different loader acceleration options (Turbo, Safe & None). This helps with some problematic protection loaders that don't load when on full turbo loading. And the Spectacol on-screen keyboard has toggle Capshift/Symbol shift (which doesn't work on lr-fuse). Fuse 1.2 has probably increased overall comp

[2016-06-13 13:37] leiradel commented on #33
What are the command-line options and/or in-app settings for the loading acceleration options? I need it to expose them as core options to the front-end.

[2016-06-13 15:25] windale commented on #33
![screenshot_2016-06-13-16-24-30](https://cloud.githubusercontent.com/assets/12862298/16012916/67a5a876-3183-11e6-93cc-ab2c2fe7f500.png)

[2016-06-13 20:08] leiradel commented on #33
Ok, thanks. I'll try to find how Spectacol maps those options to Fuse.

[2016-09-02 10:48] belowzero273 commented on #23
@leiradel I'm facing the same problem, did you find a proper solution? Where do you put those rom files to make scl files work?

[2016-09-02 12:22] leiradel commented on #23
Hi,

You only need additional ROM files for the Pentagon 128K, 512K, and 2014, and the Scorpion 256K. If you really need additional ROMs, check what is your `system_directory` in `retroarch.cfg`, create a folder named `fuse` in it, and put your ROMs there.

When in doubt, check the `.rom` files [here](https://github.com/libretro/fuse-libretro/tree/master/fuse/roms) to see which ROMs are built into

[2016-09-02 12:46] belowzero273 commented on #23
@leiradel the system folder is default /home/pi/RetroPie/BIOS, so I put all the roms in /home/pi/RetroPie/BIOS/fuse, but I still get "fuse error couldn't find rom '128p-0.rom'". Where to dig next?

[2016-09-02 13:07] leiradel commented on #23
Could you turn on verbose logging and paste it her please? Thanks.

[2016-09-02 13:26] belowzero273 commented on #23
@leiradel ha, found it with verbose logging - another spelling error =) I get to TRDOS and should get file list with LIST command and then LOAD them. But for some reason it autocompletes L to LET, should google for tr dos commands I think.

[2016-09-02 13:44] leiradel commented on #23
So it's working as expected, right? Cool.

[2016-09-02 13:52] belowzero273 commented on #23
yep, found all the necessary already, thanks!

[2016-09-02 15:05] leiradel commented on #23
np

[2016-09-02 16:50] windale commented on #27
Fuse has been updated several times recently and SCL & TRD files now autoboot.

[2016-09-02 16:53] windale commented on #33
Any chance of updating this Libretro port to the latest version ? You didn't bother last time but now several improvements have been made including SCL and TRD autobboot. They are also adding compatibility for the Recreated ZX Spectrum keyboard. Any chance you could update this ?

[2016-09-02 17:24] leiradel commented on #27
I'll work to update the core to use fuse 1.2.2 this weekend, this will take care of this enhancement.

[2016-09-02 17:24] leiradel commented on #33
I'll take a stab at it this weekend.

[2016-09-02 21:28] leiradel commented on #32
@vanfanel said it worked just fine.

[2016-09-02 21:28] #32 closed

[2016-09-03 00:09] leiradel commented on #33
The `specplus3_disk_writeprotect` function is defined in a header but not implemented anywhere. The 1.2.2 source code is a little strange. I'll wait for another minor version bump.

[2016-10-18 00:04] ingolemo opened #37 "Core segfaults when rewind is enabled"
When the _Settings > Rewind > Rewind Enable_ option is set to "On" in the menu, the core will segfault less than a second into playing any game. Here's a stack trace for the offending thread:

    #0  0x00007f7f1cb4104f raise (libc.so.6)
    #1  0x00007f7f1cb4247a abort (libc.so.6)
    #2  0x00007f7f1cb7ec50 __libc_message (libc.so.6)
    #3  0x00007f7f1cb84fe6 malloc_printerr (libc.so.6)
    #4

[2016-10-24 18:02] leiradel commented on #37
I've just pushed a commit that fixes snapshot memory management, but I'm not sure what to expect from the rewind functionality as I've never used it. Could you check if it works now? Thanks.

[2016-10-25 13:38] ingolemo commented on #37
I don't really use the rewind functionality either, but I flipped that setting on (because why not) and was surprised sometime later when I was unable to use the fuse core. Once I tracked down the culprit I turned the setting off.

This commit does appear to fix the crash. The rewind functionality doesn't work correctly because when you press the rewind button you get sent to the very first frame

[2016-10-25 14:02] leiradel commented on #37
Cool, I'll close this issue and work with the RetroArch team to make rewinding work as expected with this core.

Thanks for the report.

[2016-10-25 14:02] #37 closed

[2016-11-02 16:14] windale commented on #33
Still no update then ? :(

The RetroPie team have updated the regular Fuse to 1.3.0 which has TRDOS images autoboot and recreated ZX Spectrum keyboard support and improved compatibility etc. It would be great if you could update lr-fuse 1.1 to the latest version so we can use shaders and better joystick support. Thanks.

[2016-11-04 14:45] leiradel commented on #33
It's easy to update when all you must do is build the emulator. The libretro port is more intrusive, because it has to conform to the libretro API. Due to some more pressing matters, expect an update only for 2017, unfortunately.

[2016-12-12 12:29] pak21 commented on #30
I've been pointed to the fact that MAME now has (reverse engineered) IPF support https://github.com/mamedev/mame/blob/ddb290d5f615019c33c42b8d94e5a5254cabcf33/src/lib/formats/ipf_dsk.cpp - this means it would be feasible to implement IPF support in Fuse. But that doesn't mean it's going to happen any time soon :-)

[2016-12-12 13:34] windale commented on #30
pak21 said
"this means it would be feasible to implement IPF support in Fuse. But that doesn't mean it's going to happen any time soon :-)"

Yeah ! Too true, lr-fuse is still on v1.1 !

[2016-12-12 21:07] leiradel commented on #30
Great. I'll probably update the core to the latest Fuse version before IPF support is added, but I can update again when it's out.

[2017-03-29 11:52] MaquinaDelMisterio opened #40 "Fuse iOS port?"
A guy told me that there was a working fuse core, but is there a port for iOS?

[2017-03-29 22:55] leiradel commented on #40
The Fuse core compiles for iOS, but was not being bundled with RetroArch. @twinaphex added it and it should be available soon, but I don't know exactly when.

[2017-04-05 14:34] MaquinaDelMisterio commented on #40
Thanks, its already avaiable.

[2017-04-05 19:03] leiradel commented on #40
Awesome, thanks for letting me know.

[2017-04-05 19:03] #40 closed

[2017-08-23 15:58] blinkydoos commented on #33
Is there any chance this could be updated ? I see it was originally asked over a year ago. :-(

[2017-08-24 12:47] leiradel commented on #33
It will, as time permits.

[2017-08-25 09:48] Ezio-PS commented on #21
This core compiles now on PS3 without errors but when you try to load a rom you get only a black screen. (tested with RetroArch 1.6.7)

[2017-08-25 21:38] leiradel commented on #21
@Ezio-PS can I have the game you used to test?

[2017-08-26 07:20] Ezio-PS commented on #21
hi @leiradel Sure! It's Outrun (1987)(US Gold).tap

Could be a big endian issue? Or anything else such as moving some piece of code above or below? do you know if this core works fine on wiiu or wii since they should be other big endian machines?

Recently some cores got working on ps3 thanks to some fix for endian issues such as prosystem (look at https://github.com/libretro/prosystem-libretro/co

[2017-08-26 11:57] leiradel commented on #21
The original emulator supports Wii, and I believe the core works just fine with that platform too.

The ideal thing to do would be to test the game with the Fuse emulator, and if it works, then test with the core.

[2017-08-28 15:19] Ezio-PS commented on #21
I tried other 4 games, both .tap than .z80 format and i always get a black screen.

[2017-08-29 13:06] leiradel commented on #21
I assume they work with the Fuse emulator on a PC.
Anyway, it's very hard to guess what could be wrong without being able to debug the core.

[2017-08-29 14:48] Ezio-PS commented on #21
I'll try to debug the core in the next days. Anyway for who doesn't own a ps3, it's possible to test retroarch and the cores on the newer ps3 emulator called rpcs3, available for both windows and linux system.
Let you a log once i debug the core, but the only way to know more info i guess it'll be put some printf around where the core freezes.

[2017-08-29 19:14] soydemadrid commented on #29
Hi I'm having the same problem with my ZX Spectrum Recreated Keyboard. It would be amazing if youcould add the patch or make mode A work so users have a native replicated ZX rubber key support that this keyboard offers. As it is a replica of the original ZX Spectrum keyboard there are no other keys available such as ESC or F1 etc. The keyboard just has what the old rubber keyed speccy had!! It is

[2017-09-18 20:23] malvert opened #42 "AY Stereo Separation option is not working"
"AY Stereo Separation" in Core Options is not working. There is no noticeable difference between "acb" and "abc" option. And if I set it to "none" the AY sound should be mono, but it's still separated to left and right channel and it sounds exactly the same as if set to "acb" or "abc" option. There is no other option to set AY to mono.

[2017-09-24 20:28] leiradel commented on #42
Hm, maybe you need to reset the emulation so that the changes become current. If this is really the case, I'll add text to this option to make it clear.

If resetting the emulation doesn't work, how does AY Stereo Separation sounds on trhe Fuse emulator? If you set it to "none", does it become mono? Can you tell the difference between "acb" and "abc" modes?

[2017-09-26 17:43] malvert commented on #42
It is set to "none" by default, but you can still hear it is simulated stereo. I tried to set it to other options and reseting emulation, but I didn't notice any changes. If I use fuse128k emulator, the difference between "none" and other options is very noticeable, because "none" option sets sound to mono. But the difference between "acb" and "abc" mode is not very noticeable even in fuse128k. I

[2017-10-19 10:22] gingerbeardman opened #43 "unique id is not unique"
using nightly 2017-10-19

see: https://github.com/libretro/RetroArch/issues/5565

[2017-10-27 20:33] zach-morris opened #44 "Segfault on OSX"
Attempting to launch any game on OSX, I get a segfault.
Log [here](https://pastebin.com/mkb3NRWh).

[2017-11-27 03:01] meepingsnesroms commented on #43
Fixed, please close.

[2017-11-27 12:09] #43 closed

[2017-11-27 23:17] r-type commented on #21
dit you add 	CFLAGS += -DWORDS_BIGENDIAN -DMSB_FIRST in ps3 makefile.libretro section?

[2017-12-02 10:39] #44 closed

[2018-01-23 19:18] worldofjon opened #47 "wiiu version - crash with system memory"
after chosing a game and launching, it displays a wii system memory crash message

https://s21.postimg.org/9ddweky1j/FBA_RPX_Error.jpg

the snes version lauches fine

[2018-01-28 12:22] telanus commented on #33
See 1.5.0 is out, any idea when an update will appear?

[2018-02-25 17:23] pjft opened #49 "Allow for full joystick to keyboard remapping"
Hi team,

Apologies if this is the wrong place to ask for this. I was planning on trying to implement (or fail miserably) a joystick-to-keyboard remapping input for lr-fuse, as several games need more than just the standard joystick inputs to be correctly played, and constantly calling the keyboard overlay isn't really practical. I'm looking to implement a way to assign the RetroPad buttons to ind

[2018-02-25 17:52] pjft commented on #49
Actually, after searching through the code history, it seems [the files I was looking to change](https://github.com/libretro/fuse-libretro/commit/9f8fab39f51d6309d69b611845342366e50157e3#diff-dd8fb4fb8fa4f0678fc7d5be2586e974) actually seem to have already been customized on the lr-fuse side of things, so I take it that my changes would only need to be on the lr-fuse side of things.

Please let me

[2018-02-25 21:58] leiradel commented on #49
Hi @pjft

Absolutely. It will be a great addition to the core.

This change will only change some libretro specific files, so the PR belongs here.

All the necessary changes can and should be done only in libretro specific code. Changes made on files in the `build`, `bzip2`, `etc`, `fuse`, `libspectrum`, and `zlib` folders will likely be lost when the Fuse version is upgraded.

Take a look at the

[2018-02-25 22:38] pjft commented on #49
Thank you @leiradel for your thorough reply, and especially for sending me some very relevant pointers.

After some initial exploration I was able to create a new input type and make the joypad easily emulate some pre-defined keys, but when it came to allowing them to be redefined on RetroArch I ran into the issue that every LR input event needs to be mapped to one LR input button, so I couldn't e

[2018-02-25 22:45] leiradel commented on #49
No problem, it's the least I can do.

You mean a new input device like `RETRO_DEVICE_CURSOR_JOYSTICK`, using the `RETRO_ENVIRONMENT_SET_CONTROLLER_INFO` environment callback? No, these devices must be actual hardware devices that the core can emulate. You should map the buttons to keys using core options, just like in 81-libretro.

Exactly!

You too, feel free to ping with any doubt you may have.

[2018-03-10 12:49] #49 closed

[2018-04-11 14:59] gingerbeardman opened #51 "Page Fault Crash on N3DS"
Tried loading these .z80 files:

- JetPac
- JetSet Willy

1.7.1 - fuse 1.1.1 58ec13f

## Crash

![img_1655](https://user-images.githubusercontent.com/49612/38624755-ce23f596-3da0-11e8-8ffb-ae4c53aa340d.jpg)

## Parsed Dump

[crash_dump_00000024.dmp.txt](https://github.com/libretro/fuse-libretro/files/1899346/crash_dump_00000024.dmp.txt)

## Raw Dump

[crash_dump_00000024.dmp.zip](https://github.co

[2018-06-03 18:56] SaucySarah commented on #33
Nearly 2 years after the OP, any chance of an update to the latest version ? lol.

[2018-06-03 18:58] SaucySarah opened #53 ".POK support"
Hi, do pokes work with this libretro version and if so how to choose what cheats to apply ?

[2018-06-03 19:31] telanus commented on #33
@SaucySarah I know https://www.reddit.com/user/DanteAlighieri64said that @leiradel was looking into it. It's up to leiradel to find time to update it. I hope it'll hapen before the next ice age.

[2018-06-03 21:52] leiradel commented on #53
Can you point me to some POK files? Thanks.

[2018-06-03 22:09] SaucySarah commented on #53
http://www.the-tipshop.co.uk
https://github.com/eklipse2009/ZX-Pokemaster

[2018-06-04 09:48] ghost opened #54 "Can't select Pentagon 512K"
When running .SCL or .TRD files (TR-DOS) it automatically starts Fuse in the Pentagon 128K Model. Because this version of Fuse is so old it doesn't autoboot the files. If I go to the RetroArch menu and choose Pentagon 512K it says it needs content loaded to be able to change it !? You can't do this because when you load a .SCL etc. it automatically changes to Pentagon 128K again !

Autobooting TR-

[2018-06-04 12:49] leiradel commented on #53
Thanks, I'll look into it

[2018-06-04 12:55] leiradel commented on #54
Thanks for the report.

You can use the keyboard to load the desired content. Make sure you set the **Sinclair Keyboard** as the device type in RetroArch's **Input Options** menu. If you don't have a physical keyboard, use the **Select** button on the controller to bring the virtual keyboard.

[2018-06-05 10:57] SaucySarah commented on #54
I tried changing the last line of this part (in the file `fuse/utils.c` ) -

[code]

To this -

`error = machine_select( LIBSPECTRUM_MACHINE_PENT512 ); if( error ) break;`

But this didn't seem to work. This is the file part that the Fuse devs changed to default to Scorpion (which is the default in the latest version) instead of Pentagon.

Could you fix this please so that Pentagon 512K is the def

[2018-06-05 11:35] leiradel commented on #54
Sorry, I'm not a Fuse maintainer.

[2018-06-05 12:38] SaucySarah commented on #54
I thought you were the guy that's responsible for the Libretro port ? There is obviously a bug there that's preventing this from working (as well as not being able to change the TRDOS model). I take it you are not going to be updating Fuse then ?

[2018-06-05 14:57] leiradel commented on #54
The libretro port is unofficial, changes to Fuse should be directed to the official maintainers.

[2018-06-05 15:56] SaucySarah commented on #54
As you're not interested in updating to the latest version (which would fix this bug) I may as well close this.

[2018-06-05 16:02] SaucySarah commented on #53
May as well close this as well as not much hope in seeing it implemented.

[2018-08-17 13:47] lordvek3 opened #57 "A way to enter spectrum Pokes"
Is it possible to implement a way to enter Pokes for unlimited lives, energy etc or build-in Multiface emulation in a future update of lr-Fuse?

[2018-08-17 16:10] SaucySarah commented on #57
I asked for this here https://github.com/libretro/fuse-libretro/issues/53 nearly 3 months ago. No point in asking really as it's like tryng to get blood out of a stone ! This port is several years old compared to the original FUSE that it's based on. This is as good as it's going to get. Best to use the original Fuse if possible.

[2018-08-17 16:16] leiradel commented on #57
It's definitely possible, but I, the only maintainer of this port, have other priorities right now.

If you happen to be a software developer, or know someone who is, and is interested in emulation, the libretro project is always open for new contributors.

[2018-08-17 16:52] leiradel commented on #57
Other ways to help are to [be a patron](https://www.patreon.com/libretro), or to [fund for features](https://www.bountysource.com/teams/libretro/bounties) you want to see in the project.

[2018-08-17 17:09] lordvek3 commented on #57
I saw this SaucySarah, but you ask for pok files. I mean a different approach, to be able somehow to write values to the "memory" addresses of Spectrum directly. How difficult can it be?

[2018-09-03 18:26] lordvek3 commented on #57
I just offered $15 to the bountysource page for the feature I asked for. Can I hope?

[2018-09-03 23:03] leiradel commented on #57
The problem is that RetroArch has its own cheat file format, POK files won't work with it. I'm talking to the other developers about converting all POK files from Tipshop and making them available somewhere.

[2018-09-04 13:27] leiradel commented on #57
Well, @RobLoach was kind enough to convert all the POK files from the [Tipshop](https://github.com/eklipse2009/all-tipshop-pokes) to the [RetroArch format](https://github.com/libretro/libretro-database/tree/b3fdaa95f3981c1bec58128f3e4b2c589b6c2a92/cht/Sinclair%20-%20ZX%20Spectrum%20%2B3).

I still have to code the functionality into the core and see if it works, but we're halfway through.

[2018-09-04 16:26] lordvek3 commented on #57
Thank you guys! I am looking forward to see it!

[2018-09-09 11:10] leiradel commented on #57
Implemented in https://github.com/libretro/fuse-libretro/commit/5a024e2da4a8ef12d91508646744ab14cae2cd49

[2018-09-09 11:10] #57 closed

[2018-09-09 11:13] leiradel commented on #57
Note: POK files don't work directly, they have been converted to the RetroArch format and must be downloaded from [here](https://github.com/libretro/libretro-database/tree/master/cht/Sinclair%20-%20ZX%20Spectrum%20%2B3).

[2018-09-09 11:14] leiradel commented on #53
Implemented in https://github.com/libretro/fuse-libretro/commit/5a024e2da4a8ef12d91508646744ab14cae2cd49

Note: POK files don't work directly, they have been converted to the RetroArch format and must be downloaded from [here](https://github.com/libretro/libretro-database/tree/master/cht/Sinclair%20-%20ZX%20Spectrum%20%2B3).

[2018-09-09 11:14] #53 closed

[2018-09-10 12:43] lordvek3 commented on #57
I tried them and they are working perfect. A big thanks to you my friends Andre and Rob for the immediate response. Be well, and thank you again!!!

[2018-09-10 12:47] leiradel commented on #57
Np, glad it's working!

[2018-09-10 18:31] leiradel commented on #57
@lordvek3 where is the bounty? I want to reclaim it and give it to the libretro project.

[2018-09-10 19:18] lordvek3 commented on #57
Here, in that page:
https://www.bountysource.com/issues/62280633-a-way-to-enter-spectrum-pokes
I associated it with the issue. I don't know exactly how this is working, but there is a button "Claim Bounty"

[2018-09-10 19:37] RobLoach commented on #57
Thanks for contributing and getting this going! :heart:

[2018-09-10 19:49] lordvek3 commented on #57
And I thank you guys for you work about entering cheats on lr-fuse! Be well!

[2018-10-20 12:30] Papermanzero commented on #30
Any update on that topic?

[2018-10-21 00:38] leiradel commented on #30
As far as I know, Fuse doesn't yet support IPF, so fuse-libretro cannot support it either.

[2018-10-22 12:10] Ulrichbc commented on #51
I have the same problem. Using latest Nightly build, put the bios roms in retroarch/cores/system/fuse, N3DS and old 3DS as well...
Would be awesome if someone could help us fix this error.
Is there anyone who has got this working?

[2018-10-22 12:24] leiradel commented on #51
Does this happen with only those two games, or with any game?

[2018-11-04 18:53] mtkona opened #58 "Game need to rewind the tape and crash - lr-fuse (Retropie)"
Tested with:
Gemini Wing
Soldier of Light
Dragon Spirit

When the games need to rewind the tape, the system crashed.

[2018-11-12 13:17] 2xtime opened #61 "Core doesn't load on Android GPD XD handheld"
If I go to the Core Updater and download the FUSE core then Load the Core it doesn't do anything. It still says '1.7.5 - No Core' at the bottom left of the screen. If I load Content it says 'Failed to open Libretro Core'.
Is there a correct version for my device or is it building an incompatible one ? My device is NOT Rooted so I don't have access to any Retroarch logs. I noticed someone recently

[2018-11-13 11:28] 2xtime commented on #61
@leiradel Any chance you could do this ? No idea why it won't download the core. Is my device and ARM version in the makefile ? The Cortex-A17 uses ARM v7a so I would need the Android armeabi-v7a Fuse build.

[2018-11-13 18:06] fr500 commented on #61
Most likely the libretro buildbot targets a newer NDK.

[2018-11-14 11:34] leiradel commented on #61
Would it use a different NDK for the cores in relation to RetroArch?

@2xtime did you build RetroArch yourself, or downloaded a pre-built version from the buildbot?

[2018-11-14 12:57] 2xtime commented on #61
Downloaded from GooglePlay (v1.7.5).

[2018-11-15 01:45] mtkona commented on #58
Hello Andre, I tested the images below:

Gemini Wing:
http://www.worldofspectrum.org/pub/sinclair/games/g/GeminiWing.tzx.zip
http://www.worldofspectrum.org/pub/sinclair/games/g/GeminiWing.dsk.zip
http://www.worldofspectrum.org/pub/sinclair/games/g/GeminiWing.tap.zip
http://www.worldofspectrum.org/pub/sinclair/games/g/GeminiWing(DroSoft).tzx.zip
http://www.worldofspectrum.org/pub/sinclair/games/g/G

[2018-11-15 14:17] 2xtime commented on #61
So will there be a commit that can fix this please ? This is the only Core that doesn't work.

[2018-11-15 14:20] fr500 commented on #61
@leiradel it uses whatever is defined here:
https://github.com/libretro/libretro-super/blob/master/recipes/android/cores-android-cross.conf

@2xtime you don't need root to get logs, you just need ADB and to enable debugging options.
We certainly need a log to check what's up.

[2018-11-15 14:35] leiradel commented on #61
@fr500 So it uses the same NDK as the other cores that use the cross makefiles, right?

@2xtime Can you check 81-libretro and gw-libretro and see if they work? We'll also need the log like @fr500 said.

[2018-11-15 17:49] 2xtime commented on #61
Game&Watch works fine, ZX81 doesn't work. What information will you need from my log file ? Amongst lots of `GC_FOR_ALLOC` lines I can see this -

[code]

[2018-11-15 21:11] leiradel commented on #61
But it works on other Android devices. I'm not sure this would cause an error during the build. I'll add a rand replacement anyway.

@2xtime could you post the log of the ZX81 core? Maybe the missing symbol is different.

[2018-11-15 21:59] 2xtime commented on #61
@leiradel

[code]

[2018-11-16 09:20] leiradel commented on #61
This should be `strcpy` right? `stpcpy` symbol doesn't exist in the entire 81-libretro codebase.

I'm not sure I should start adding replacements for those missing symbols, `strcpy` shouldn't be missing and is likely a symptom of a different issue with this device.

[2018-11-16 10:22] 2xtime commented on #61
I just did a simple google search and saw lots of similar errors.

https://stackoverflow.com/questions/32611548/cannot-locate-symbol-rand-referenced-by-libjninice-so

Several sites say you have to change the Android API platform so it's compatible with lower Android versions, platform=19 maybe ? I'm not sure what the numbers represent because I know nothing about Android but i'm sure you or @fr500

[2018-11-16 11:21] leiradel commented on #61
gw-libretro, 81-libretro, and fuse-libretro, are compiled in the exact same way by the buildbot.

@fr500 do you have any clue what could be happening?

[2018-11-16 20:19] leiradel commented on #61
Yeah, many search results say that lowering the API fixes those errors. We'll need help from people from the libretro team, to see what API is being used now and if it's possible to use a different one.

[2018-11-16 20:49] 2xtime commented on #61
Yeah, hopefully this doesn't take weeks/months to do considering all the other cores work fine (out of about ten that I use but I imagine the rest will work as well) which is quite annoying. The Spectrum is in my top 2 retro systems, the other being the Amiga.

The ZX81 core (which I don't use) that also doesn't work was also ported by you ? Sorry for the dig ! Hopeful to see some of that 'correct

[2018-11-16 22:40] leiradel commented on #61
Yeah, I hope this isn't some mistake of yours again. There are no other complaints about the cores on Android.

[2018-11-16 23:15] 2xtime commented on #61
@leiradel I was only joking about your ports. No mistakes from me this time i'm afraid with the logs to prove it. A lot of people tend to use Raspberry Pi's and other people wouldn't even know where to report the bug anyway. So no chance of you fixing this then ?

[2018-11-17 18:03] fr500 commented on #61
seems to be a general issue with the cross makefiles for some reason

[code]

[2018-11-17 22:46] 2xtime commented on #61
The core loads and works fine now, I won't say I told you so ! :)

You may wan't to add the API change to your ZX81 port too.

[2018-11-17 23:14] leiradel commented on #61
Will do, thanks for the report.

[2018-11-17 23:14] #61 closed

[2018-11-20 11:32] 2xtime opened #62 "'Tape Fast Load ' option won't turn off properly"
When turning off the 'Tape Fast Load' option you should expect to see the game loading at it's original cassette speed. This is not the case. It is broken in this Libretro port.

In regular Fuse, to load at the original tape speed you need to turn off the options -

[code]

Maybe libretro fuse is not turning all these options off ?

You could have 3 settings in the 'Tape Fast Load' option -

[code

[2019-02-28 11:29] 2xtime opened #63 "Cheats with multiple pokes per cheat"
Hi, I just tried IK+ and enabled the cheat to 'Always Play On'. But by doing this, after a few seconds the players freeze. I tried the original .POK file on Windows Fuse and it works fine. I noticed that this cheat uses two pokes and looks like this in the .CHT file -

cheat0_code = "M 8 32857 175 0\nZ 8 32858 201 0"

Is that `\n` supposed to be a new line and is it being handled properly ?

[IK+

[2019-03-01 10:19] 2xtime commented on #63
@leiradel I checked a few more (Barbarian, Batman, Manic Miner etc.) and all the cheats that use multiple pokes (they contain `\n`) don't work. It's obviously something to do with the `\n`. Any chance you could fix this please as there are a huge amount of cheats that won't work.

P.S. I double checked that they worked using the original .POK file and they do (on Windows Fuse).

[2019-03-01 11:41] leiradel commented on #63
Thanks for the report, I'll take a look.

[2019-03-02 16:23] 2xtime commented on #63
@leiradel Sorry for being impatient ! Have you had a chance to take a quick look yet ? Is it anything to do with line 1144 of this commit https://github.com/libretro/fuse-libretro/commit/5a024e2da4a8ef12d91508646744ab14cae2cd49#diff-7a88199b5738262c9fda4a6bf68eb68cR1144 ?

[2019-03-11 17:53] SaucySarah commented on #63
@leiradel Any luck with this fix sir ?

[2019-05-18 12:00] SaucySarah commented on #63
@leiradel Any chance of fixing this ?

[2019-05-18 16:29] leiradel commented on #63
@2xtime what appears in the log when using the cheat provided in `.cht` file above, `IK+ & Cheat.zip`? You can filter RetroArch's output with `| grep "Enabled cheat"`.

[2019-05-18 18:53] SaucySarah commented on #63
My adb log doesn't really say anything -

[code]

What @2xtime said, the players freeze. I also tried the other games he listed and the pokes that contain `\n` don't work (which there are a lot). Have you also tried them ?

[2019-05-19 12:37] leiradel commented on #63
It's fixed in https://github.com/libretro/fuse-libretro/commit/ed4fc305b8ffc863207d535028b28a04de45a47a

The buildbot will recompile the core, I'll close this issue when someone confirms it works.

[2019-05-20 10:02] SaucySarah commented on #63
They work now, thanks. I tested the multi-line cheats for IK+, Batman and Manic Miner and they all now work correctly.

I also found a minor bug with the control mapping. If you change the main fire button in the Core controls then you cannot select any keys on the on-screen keyboard.

[2019-05-22 22:39] snoofly commented on #62
Would really like to see regular tape load feature fixed, it really brings back the sense of nostalgia.
I’ve had a look myself to see if I can assist as I feel it maybe something quite simple/overlooked but haven’t got to the bottom of it yet.

[2019-05-22 22:47] snoofly commented on #33
Would love to see an update of lr-fuse from old 1.1.1 version now many enhancements/fixes for outstanding issues appear addressed in the latest fuse base so just adding my comment in case it can motivate those more able than me.

[2019-05-23 19:36] leiradel commented on #63
Great. Could you open another issue with this control mapping problem? Please add the steps to reproduce the problem.

Thanks.

[2019-05-23 19:36] #63 closed

[2019-05-24 11:28] SaucySarah opened #64 "On-Screen keyboard not useable if main fire button (A) is changed"
When you change the main fire button (A) in the Core / Controls you can no longer select any buttons on the on-screen keyboard using a joypad.

[2019-05-24 14:00] snoofly commented on #62
FYI, I hacked up my own core to test out fixing this and bruteforced a Slow load only version of the Fuse Core in sense that as in this issue FastLoad toggle does not appear to effect, I defaulted the initial settings related to fast loading from 1 to 0 and the new core always slow loads now whatever FastLoad is set to.

So the basic logic is there, I think one missing piece is that tape_traps is

[2019-05-24 15:27] leiradel commented on #62
Thanks to both of you, this will help a lot to find a fix.

@snoofly if you could attach your changes here it would be awesome.

[2019-05-24 16:25] SaucySarah commented on #54
Pentagon 512K is now the default model selected when running TRDOS files. I might close this.

It would be much better if someone could implement FUSE's new(ish) TRDOS 'Autoboot' feature. Then we could have the default model as Scorpion as this has much closer timing to the original Spectrum. Pentagon plays the games too fast.

TRDOS games are a great choice for Libretro Fuse because they are just

[2019-05-24 16:38] SaucySarah commented on #27
https://sourceforge.net/p/fuse-emulator/code/5746/

[2019-05-24 16:57] snoofly commented on #62
I changed the following function in src/fuse/settings.c (bold added):

int settings_init(int *first_arg, int argc, char **argv)
{
   int res = fuse_settings_init(first_arg, argc, argv);

   settings_current.auto_load = 1;
   settings_current.detect_loader = 1;

   settings_current.printer = 0;

   settings_current.bw_tv = 0;

   settings_current.sound = 1;
   settings_current.sound_force_8bit = 0;

[2019-05-24 17:03] snoofly commented on #62
BTW Fuse 1.1.1 (non libretro) works fine - it's not something broken in the 1.1.1 code base

[2019-05-26 09:51] snoofly commented on #25
A workaround I use for not having sticky shift keys is to map Caps and Symbol to L2 and R2.
Then you can effect accessing the extended keywords, characters etc by keeping the trigger down whilst pressing - to bring up the keyboard.
Would be good to see sticky shift implemented properly though.

[2019-05-29 12:56] vitauser1 opened #65 "Fuse vita version via retroarch"
Basic install of retroarch on vita.  No virtual keyboard available.  Tried hotkey assignment but does not opn on screen keyboard? Help!

[2019-05-29 16:21] snoofly commented on #65
Likely a setup issue more than a bug.
Check you don't have User 1 Device Type set to Retropad and put it to Kempston/Cursor etc.
Then Select should bring up the virtual keyboard.
Works for me on 1.7.7

[2019-05-29 18:22] vitauser1 commented on #65
Thank you for the reply....that worked.....thanks!

[2019-05-29 18:22] #65 closed

[2019-06-04 03:49] medievil1 opened #67 "fuse crashes retroarch 1.7.7 (windows 10)"
core version 1.1.1 ed4fc30
windows 10 x64 (1809)
16gb ram
nvidia gtx 1660
load game, retroarch crashes to desktop
-------------------

Error occurred on Monday, June 3, 2019 at 23:36:16.

retroarch_debug.exe caused an Access Violation at location 000000001D4E5D13 in module fuse_libretro.dll Reading from location 0000000000000008.

AddrPC           Params
000000001D4E5D13 000000001D66F630 000000001

[2019-06-04 04:25] medievil1 commented on #67
adding that it is tzx images, z80/81 work fine

[2019-06-29 09:23] SaucySarah opened #69 "Core doesn't load after latest commit 72b3341"
@twinaphex  @webgeek1234 Core doesn't load, it says 'Failed to open libretro core'. It gives no information at the bottom left of the screen.

My device is a GPD XD Handheld, Android Kitkat. Retroarch v176 Stable (I can't use the latest version because there is a bug (that has been reported but not fixed) that crashes Retroarch when going to/from the GUI).

I think the problem is 'cannot locate sy

[2019-06-29 09:29] SaucySarah commented on #69
The same problem was reported here https://github.com/libretro/fuse-libretro/issues/61 . I think you need to lower the API to 19.

[2019-06-29 14:47] webgeek1234 commented on #69
Yeah, this looks like my bad. No idea how or why I added a target api to the jni makefiles. But the core compiles fine all the way down to the current minimum api of 16. Submitted PR #70 to fix this.

[2019-06-29 22:08] SaucySarah commented on #69
Works again now, thanks.

[2019-06-29 22:08] #69 closed

[2019-06-29 22:10] leiradel commented on #69
@webgeek1234 haven't this change been made in other cores too? Maybe the same fix should be made to them.

[2019-07-23 14:05] filevans opened #71 "Spasmodic gui button behaviour"
Hello, I am getting GUI pressing problems only on fuse (RA-Wii) double presses and spasmodic movement. This doesn't happen in any other core and I've reported it to RA Wii developers and they say it is the core itself.

[2019-07-23 16:20] leiradel commented on #71
Can you please change the core option **Time to Release Key in ms** and see if one of the values solves the issue? Thanks.

[2019-07-25 07:31] ToniBC opened #72 "Upgrade to 1.5.7 and support for multi disk (m3u)"
Fuse is a core that is quite good, it is one of those recommended for Spectrum, but the core is quite outdated, since it uses 1.1.1 as a base and 1.5.7 already go through many corrections.

On the other hand, multi-sided multi-disc games cannot be loaded because they have no option to change discs. It is rare that the m3u disk change holder is in almost all cores except this one.

It would be nice

[2019-08-16 13:11] filevans commented on #71
Thanks I'll try

[2019-08-16 13:11] filevans commented on #71
Sorry for the delay replying

[2019-09-08 23:56] rg-software opened #75 "Controls don't work in Fuse 1.1.1 (Android)"
I have problems with Fuse on Android. The emulator starts perfectly, and game menu/music/animation run without problems. However, no controls work: I tried both bluetooth gamepad and keyboard overlay.

[2019-09-20 12:33] Nigey777 commented on #51
Every game i've tried does the same even with the newest update, quite frustrating considering much more complex emulators work. Would be great if this could work.

[2019-09-20 12:40] Nigey777 commented on #51
i've tried .tap files still error :(

[2019-09-20 12:40] Nigey777 commented on #51
I have tried this on a 3ds and 2ds

[2019-09-20 12:45] gingerbeardman commented on #51
Is your Luma/BS9 setup current?

[2019-09-20 12:47] Nigey777 commented on #51
yes it is, all up to date, ive totally uninstalled retroarch and tried re installing still the same every time. Have you got it working then??

[2019-09-20 14:36] gingerbeardman commented on #51
No, this is still broken for me.

But listing this information is useful for the developers.

My New 3DS:

- System = 11.11.0-43E
- Luma = 10.0.1-c913de1
- B9S = 1.3 (6 Sep 2017)

What versions of everything are you running?

- RetroArch = 1.7.8 fuse 1.1.1 8184756

There seems to be some cross-compatibility between the EightOne and FUSE cores as things load in one when I specify the other.

[2019-09-20 14:42] Nigey777 commented on #51
I will have a look somewhen. I don't hold much hope as they haven't replied to me on Facebook.

[2019-10-03 20:18] snoofly commented on #62
Recompiled my local fuse core for the 9.0 controls thingma while back and the option to turn off and on fast load is working fine.
Maybe a make clean sorted it with some of the above changes not really sure as don’t have access atm.

[2019-10-03 20:18] snoofly commented on #62
Recompiled my local fuse core for the 9.0 controls thingma while back and the option to turn off and on fast load is working fine.
Maybe a make clean sorted it with some of the above changes not really sure as don’t have access atm.

[2019-10-13 19:45] snoofly commented on #72
Just stopping by and wondering if any thoughts on updating the Speccy core as the Vice one has been given much TLC of late.
Appreciate what we already have though.

[2019-10-13 20:48] ToniBC commented on #72
I am surprised that being a platform with more success than Amstrad or Commodore, this core is so stopped, without m3u support, very outdated and some errors. Now they are with Amiga's, we will see if anyone updates it, which for what they said, updating it is relatively simple and fast.

[2020-02-06 19:20] ToniBC opened #78 "Controls do not work in Retroarch 1.8.4"
I was testing and the controls for this core stopped working in Retroarch 1.8.4.

The core works, but nothing on the keyboard works, you can't press any keys, it's as if the keyboard and remote control support were disabled.

The Retroarch menu and hot keys work, but the controls of the core itself do not.

In previous versions, with the same updated core, but for example in Retroarch 1.7.7 it wor

[2020-02-06 23:53] ToniBC commented on #78
After 2h testing and testing things, I found the possible fault, although I found no sense.

All versions of Retroarch from 1.7.7 to 1.8.4 in their default configuration on Windows x64 (Retroarch x64) fail. Apparently the core Fuse has something weird, but I found the option that activates the controls again from the core.

In the Retroarch configuration file (retroarch.cfg), by default, I put a f

[2020-02-07 10:35] WindyWinston commented on #78
In the readme it states -

Could this be your issue. It works for me.

[2020-02-07 11:00] #51 closed

[2020-02-07 11:47] ToniBC commented on #78
It is true, as indicated in the documentation.

The problem is that by default the core does not assign user 3 the "Sinclair Keyboard" and therefore, you cannot start any game, I think before that option was assigned.

In a clean installation of Retroarch, you download the core, load a game and you can't do anything. Many will encounter this problem and think that the core is broken.

When you put

[2020-02-07 12:28] WindyWinston commented on #78
The maintainer of this core **'leiradel'** hasn't been around for nearly a year and doesn't seem to wan't to update it in anyway (by looking at the issues for updates etc.). The core is a very old version of Fuse v1.1 (probably one of the oldest in Retroarch) and could do with a serious update. Let's hope someone will take up the job!

[2020-02-07 18:31] ToniBC commented on #78
I put some time ago to update the core. It seemed strange to me that such a popular system is so neglected, everything focuses on Amstrad and other systems.

The only thing left is to report all the errors we find, to give life and visivility and see if any programmer is encouraged to give a little push.

At the moment it works and it is very much appreciated that this core is, but it needs a smal

[2020-02-10 23:46] emma-goldman opened #79 "File extension request: .ifp"
Title says it all.

Found some neatly organised multi-console archives somewhere, one of the consoles featured was ZX Spectrum +3 using .ifp files.

c: I'm sure I can find the same games elsewhere but thought I'd ask c:
[Sinclair - ZX Spectrum +3.zip](https://github.com/libretro/fuse-libretro/files/4183566/Sinclair.-.ZX.Spectrum.%2B3.zip)

I attached some random titles from the archive

[2020-02-13 10:50] leiradel commented on #79
It's been discussed here: https://github.com/libretro/fuse-libretro/issues/30

In short: first Fuse has to add support for `.ifp` ([tracked here](https://sourceforge.net/p/fuse-emulator/feature-requests/105/)), after that the code can support it when updated with the changes from Fuse.

[2020-02-19 13:37] XR4x4 commented on #78
I have an issue, I'm assuming the same problem as above, I can set Sinclair Keyboard as port 3 controls and I can get my keyboard to work, the problem is, it does not disable the Lakka/Retroarch/Fuse keyboard while the game is active so keys like "p" and "Space" still pause and speed up fuse.

[2020-02-19 13:46] WindyWinston commented on #78
You'll need to activate 'Game Focus' mode by pressing the 'Scroll Lock' key (default). This will disable all the Retroarch shortcut keys.

[2020-02-20 11:24] ToniBC commented on #78
Another problem with the controls, which I mentioned is solved by assigning the Sinclair keyboard to player 3, but the problem is also in the core options. In these options, you can assign the Spectrum keyboard keys on the gamepad buttons, but the buttons, I think remember, X and A, even if you assign a key to them, they don't work. For example, you put the number 1 key on the Spectrum keyboard an

[2020-05-11 17:24] snoofly commented on #62
Is this something being looked into?
I tried rebuilding on switch (libnx) to test a more formal fix based on ideas above but run into a llzm missing lib issue.

Would be great to not have to rely on two separate fuse cores

[2020-06-06 13:55] Darknior commented on #72
Yes, so bad this great emulator was stopped :(
I also stand for m3u feature for a long time .... i wish one day some one will work again on this emulator...

[2020-06-22 10:45] Gazdaman commented on #78
I noticed similar issues and was about to give up on using the core.
- Remapping fire to certain buttons can stop the keyboard from working
- Retropad mappings B and Y are inverted.

In the end it sent me on a path that worked out quite well for me.
I ended up having a very basic core remap file, and then created an option .opt file for each of my games, mapping almost all of them to their keyboar

[2020-06-22 11:02] Gazdaman commented on #75
Check you don't have a core/game remap .rmp file that breaks things.
If in doubt delete the .rmp files for the core and start again.

Check out my post here, which may be helpful to you:
https://github.com/libretro/fuse-libretro/issues/78

[2020-06-24 15:54] capiqua opened #81 "Add more buttons joysticks"
Fuse standalone, has up to 15 buttons for joysticks. Is possible to add more buttons?

[2020-06-25 12:58] Gazdaman commented on #33
@leiradel Just wondering if I started a bounty to update this core, would it help inspire you to update the core to the latest Fuse version?
(1.5.7 at time of writing)
I'd be happy to kick off a bounty for this if you are up for it?
Hope you can give feedback one way or another, cheers

[2020-06-25 17:18] leiradel commented on #33
Sorry, I can't work with it right now because of my current contract.

[2020-08-25 09:47] Volutar commented on #33
Well, it seems this zx core, the only one which was(is) integrated into retroarch, is better to be considered obsolete, or even “closed”, and not listed as “supported”. Simply not to give people any hope and don’t make them hold their breaths. And to mark zx libretro core as “vacant”, so maybe someone will make another libretro zx core.

[2020-10-07 19:33] rtomasa opened #82 "Save States - Segmentation Fault"
Hi,

I've noticed that Save States are not working and are crashing retroarch when trying to save or load.
Segmentation Fault is displayed in CLI with no more details.
Not sure if this is correct version but Retroarch 1.8.5 reports that it is libretro fuse (1.1.1 37c8a3c)

The system is a Raspberry Pi 3 using Raspbian OS.

BR

[2020-10-15 21:48] 16mpx opened #83 "PS Vita Retroarch crashes when loading a new rom with fuse"
For PS Vita, using Fuse core and loading a new rom without restarting Retroarch crashes the core and Retroarch.

[2020-10-25 18:11] crystalct commented on #21
@vaguerant, how are you?
I ask your help again... i'm tiring to fix build issues of fuse core and try to start at least one game. Now i complied correctly fuse and solved a couple of issues about `stat `of cfg file at start and then i got a crash like a segmentation fault.
It could be a big endian issue... so could you tell me if fuse core is working, or was working in the past, on WiiU?

[2020-10-25 21:49] crystalct commented on #21
Solved!

[2020-10-26 05:57] vaguerant commented on #21
Maybe too late now, but just confirming I was able to load up a game in Fuse on Wii U without issues just now.

[2020-10-30 10:39] crystalct commented on #21
I think this issue can be closed.

[2020-11-25 11:25] Kokokool commented on #21
guys, where can I Find a PS3 SELF FUSE core thats works?
RA 1.9.0 Fuse core cant load any game (whether is Z80 or TAP).

Any clues?

[2021-01-19 08:04] Gazdaman opened #87 "[BOUNTY] Update Core to Fuse 1.5.0 or greater"
Bounty created in an effort to incentivize someone to update the fuse-libretro core to use Fuse source code 1.5.0 or greater.
No other expectations are included in the bounty.

Bounty Link:
https://www.bountysource.com/issues/96019983-bounty-update-core-to-fuse-1-5-0-or-greater

Nice to haves would be to fix the mapping issues with inverted retropad controls and also fix the issue where remapping

[2021-01-19 08:11] Gazdaman commented on #33
I've started a bounty for updating the core.
Link is below for anyone who is interested in working on the bounty or supporting it:
https://github.com/libretro/fuse-libretro/issues/87

[2021-01-21 04:24] fadedreamz commented on #87
@Gazdaman would like to give it a shot, kindly assign it to me.

[2021-01-21 05:32] Gazdaman commented on #87
@fadedreamz I don't have write privilege's to this repo to assign it to you.
I suggest you visit the Libretro discord and ask there for someone to assign it to you.
In the meantime, there is nothing stopping you from downloading the source codes and trying to update and compile the source yourself.

[2021-01-23 08:09] fadedreamz commented on #87
@Gazdaman sorry I don't have discord.
I managed to update the fuse (1.5.7) and libspectrum (1.4.4) to the latest version and was able to build the fuse_libretro.so file. But I am not sure how to test it. I tried putting it in the cores of the RetroArch, but it seems rather broken as I can't download any cores.
Do you have any step by step procedure to setup RetroArch so that I can test it?
Using U

[2021-01-23 10:05] Gazdaman commented on #87
Assuming you have forked the repo, you can upload your changes to your fork on github for others to test.
If you don't want to do that until you prove your code works then you will need to find a way to test the core yourself.
Youtube is probably the best bet for guides on how to setup RetroArch.

Other than that, maybe the previous core maintainer @leiradel could give you some direction.

[2021-01-23 14:34] leiradel commented on #87
@Gazdaman you can try to run the core directly from the command line:

[code]

[2021-01-24 06:44] fadedreamz commented on #87
@Gazdaman I have [uploaded the commit](https://github.com/fadedreamz/fuse-libretro/commit/32decbc8086a2b51c464561742912ed12eedaef5). But using @leiradel 's command it crashed.
I am going to continue working on this in my free time as the work might be bigger than just updating and fixing the missing parts.

So, the first issue is a segfault while running -
`settings_command_line( settings_info *se

[2021-01-24 12:31] leiradel commented on #87
@fadedreamz FWIW the proper way to port Fuse to Libretro (or any other platform for that matter) is to create a subfolder in the `ui` folder and implement the required functions. That's where I'd start the update if I could do it myself.

[2021-02-02 18:15] SupervisedThinking opened #88 "Versioning scheme"
Well could you start to use versions like `Major.Minor.Patch` for your releases?

[2021-02-02 19:20] SupervisedThinking commented on #88
Closed since proper versioning is considered as spam & trolling.

[2021-02-02 19:20] #88 closed

[2021-03-31 15:45] tomconte commented on #87
Hi everyone, I have managed to update the core to 1.6.0 and compile/test it on my machine (macOS). However I am pretty new to libretro in general, what is the best way now to check that it compiles/works on all/most of the required targets?

If you are curious: https://github.com/tomconte/fuse-libretro/tree/update-1.6.0

[2021-04-01 12:12] tomconte commented on #87
Travis build looks good: https://travis-ci.com/github/tomconte/fuse-libretro/builds/221901290

[2021-04-01 13:43] zzedmore commented on #87
@tomconte Hi, I tried to build this on the Pi 400, i'm not sure if i'm doing it correctly. I directed the Retropie lr-fuse script to your lr-fuse update-1.6.0 but when building it said `memory_pages.h` was missing ?

[2021-04-01 15:00] tomconte commented on #87
Thanks for testing this @zzedmore ! I tried building from scratch after cloning my repo, and sure thing some header files had been ignored... I have added them now and was able to compile. Could you give it another try?

[2021-04-01 16:04] zzedmore commented on #87
It builds now but nothing runs, it just exits out. The log says -

`/opt/retropie/supplementary/runcommand/runcommand.sh: line 1285:  8867 Segmentation fault`

[2021-04-01 16:27] fadedreamz commented on #87
@zzedmore see my earlier comment for a possible bt. Although it is libretro-1.5.7 with libspectrum 1.4.4, it builds but fails to run. I think because of the changes in fuse-libretro and libspectrum a little porting is required. Maybe the wrapper functions needs to be updated (e,g - fuse/settings.c), to properly integrate with libretro?

[2021-04-01 17:24] zzedmore commented on #87
Yeah, shame the original porter @leiradel can't help on this.

[2021-04-01 18:38] tomconte commented on #87
@zzedmore I have tested builds on both macOS and iOS using the latest stable version of RetroArch so maybe this is something specific to the RPi... I will try to do some testing on a Pi Zero I have lying around.

[2021-04-02 13:46] tomconte commented on #87
OK, I am now testing with RetroPie on a Zero W... I pushed a change to use the built-in `getopt_long` implementation and I got past the seg fault. Unfortunately I now get:

[code]

Hopefully this is only due to the Pi Zero minuscule amount of RAM... 😅 @zzedmore could you give it another try? I appreciate your help!

[2021-04-02 14:05] zzedmore commented on #87
I get the same error i'm afraid -

[code]

Black screen and complete lockup. Had to power off/on.

[2021-04-02 14:44] tomconte commented on #87
@zzedmore Appreciate your patience! I have removed a setting to increase the "blip buffer accuracy" and now I managed to run my favourite game on my Pi Zero. It sounded odd to me indeed that emulating the poor Spectrum bleeper required more than 512MB of RAM 😅

[2021-04-02 15:46] zzedmore commented on #87
Confirmed, it's now working ! Good job @tomconte I wonder if you might be able to fix something and add a new core option ?

1) The tape fast load option. Even when it's set to off it still Turbo loads the first block or two.

2) When loading SCL or TRD files (TR-DOS) it would be nice to have a core option to set which machine will run them. I think the default is 'Scorpion'. It would be good if w

[2021-04-02 17:50] snoofly commented on #87
Yes great job on the upgrade.
I managed to build the core for switch/libnx fine with the memory_pages.h fix but get some retroarch dependency issue with hid stuff building the actual nro to test.
But I mainly want to endorse a fix for point 1 above.
I hoped these updates fixed it but I guess not.
https://github.com/libretro/fuse-libretro/issues/62 has some findings I made a while back that may hel

[2021-04-03 12:21] tomconte commented on #87
Thanks all for your help. I am happy to look at the other issues with the core but I would prefer to work on separate pull requests once #89 gets merged!

[2021-04-05 09:05] tomconte commented on #33
I have opened a pull request to update this core to Fuse 1.6.0 and lib spectrum 1.5.0: #89. Hopefully it should fix a few of the issues mentioned here.

Comments/reviews welcome!

[2021-04-05 16:36] zzedmore commented on #87
@tomconte When this does finally get merged (which is weird because the maintainer was on here the day you made the pull request), would you have any ideas about the two points I mentioned ? The loading speed toggle has been partially broken since day 1. The first post in https://github.com/libretro/fuse-libretro/issues/62 sounds good to have as the three options. Thanks for your work on this !

[2021-04-08 11:06] #33 closed

[2021-04-08 12:05] snoofly commented on #62
Fantastic. I shall look forward to the nightly getting all these upgrades/fixes.

[2021-04-09 16:47] snoofly commented on #87
Sweet.
Built my own switch fuse retroarch nro based on this update with the tape slow load fix and it all works great.
Many thanks for your work on this @tomconte.

[2021-04-09 21:38] snoofly commented on #83
This isn’t a Vita specific issue, happens on Switch too, even with the 1.6.0 core update.
IMO this should be the top priority bug to fix as to have to restart retroarch to load new content is very clunky.

[2021-04-11 12:40] #62 closed

[2021-04-11 12:41] tomconte opened #94 "Add "safe fast load" option"
Could you add a third option for the speed settings like the example in the first post of #62 ? So like this -

Safe Acceleration

settings_current.fastload = 1;
settings_current.accelerate_loader = 0;
settings_current.tape_traps = 0;
settings_current.slt_traps = 1;

The reason being because some games fail to load when using the full acceleration. This is safe and a lot faster than original speed

[2021-04-15 18:50] snoofly opened #95 "Vita retroarch nightly builds post 1.6.0 PR can’t load a rom"
Made issue as comment below in closed PR maybe looked over.

Any news on the Vita port?
The retroarch nightly fuse builds for vita crash when trying to load a rom since the merge.
I checked a fuse self from the 7th (1.1.1) and it works fine.
Thanks

_Originally posted by @snoofly in https://github.com/libretro/fuse-libretro/issues/89#issuecomment-819805112_

[2021-04-17 17:55] tomconte commented on #95
I don't own a Vita to test; any chance you could share a stack trace of the crash?

[2021-04-17 18:41] snoofly commented on #95
I used the latest libretro nightly (16th April) fuse self and info files (build 1.6.0 21c8ffb)

I loaded the core fine, then when trying to load test rom (3D Escape (1982)(New Generation Software).z80)  I get the attached core dump.
If I try to load the tzx of the same game I get "Failed to load content"
As mentioned files prior to the 1.6.0 upgrade work ok.

I uploaded the original .psp2dmp file

[2021-04-17 19:41] leiradel commented on #95
I seem to remember an issue with the PS Vita port where the compiler will use 16-bit integers for enumerations. Using the appropriate compiler flag to use a 32-bit integer fixed the problem.

[2021-04-17 21:33] snoofly commented on #95
OK thanks, I'll try setting up a vita build env tomorrow and use -fno-short-enums flag and see how it goes

[2021-04-17 23:37] snoofly commented on #95
Built fuse_libretro.self ensuring -fno-short-enums used by compiler (it was already set) and still same issue.

[2021-04-18 19:00] tomconte commented on #95
Here is what I got out of `vita-parse-core`:

[code]

[2021-04-19 10:36] tomconte commented on #95
I have back ported a couple of Vita-specific changes in this branch:

https://github.com/libretro/fuse-libretro/tree/fix-vita

I am not really sure those could lead to a crash, but could you maybe give it a try?

If it still crashes, could you please post both the `.psp2dmp` and the `.elf` file you ran somewhere (the statically linked RetroArch executable), so I am sure I am looking at the right t

[2021-04-19 11:15] snoofly commented on #95
Sir, you are a legend.
The latest fixes resolve the issue and I can load the tzx and z80 fine now!

[2021-04-19 11:27] snoofly commented on #83
In order to assist with debugging this issue, I have attached the .psp2dmp and .elf files (both with .txt appended to allow upload)
after reproducing the case.

These files are based on the https://github.com/libretro/fuse-libretro/tree/fix-vita branch build (65f1b61)

Thanks.

[psp2core-1618830851-0x00003b33cd-fuse_libretro.self.psp2dmp.txt](https://github.com/libretro/fuse-libretro/files/6335586

[2021-04-19 12:02] tomconte commented on #95
All the credit should go to the original authors and the blame on me for overwriting their fixes :-D

I will open a PR to merge this to master.

[2021-04-21 15:31] 16mpx commented on #83
Even with (65f1b61), Vita build still crashes, issue was not resolved.

[2021-04-21 18:08] snoofly commented on #83
Just to clarify in case there is confusion. 6F build fixes the first time load Rom issue on vita. That is fixed from my test build from source. The issue tracked here - of reloading content without restarting causing crash is platform generic (vita and switch at least) and still a bug with no eta.
These uploads hope to identify the issue on the vita build.

[2021-04-22 10:57] 16mpx commented on #83
Thanks for the clarification. If it helps, I may upload a verbose log for the vita crash.

[2021-04-29 14:21] tomconte commented on #54
I think this issue should now be solved with the update to Fuse 1.6.0, could someone please confirm?

[2021-04-29 14:36] tomconte commented on #82
This seems to work now, using the 1.6.0 version, could you confirm? (just tested on Pi 400)

[2021-04-29 15:23] zzedmore commented on #54
Whenever a SCL or TRD file is loaded it automatically selects the Scorpion machine. This is incompatible with some TR-Dos software and has completely different timing.
What we could do with is a core option to choose which model will be used when loading SCL and TRD files, Scorpion - Pentagon 128 - Pentagon 512.

[2021-04-29 15:24] leiradel commented on #54
The right fix would be to stop it selecting Scorpion when a SCL or TRD is loaded, and just use whatever machine is currently selected.

[2021-04-29 15:51] tomconte commented on #54
Got it guys, thanks! So I guess I introduced a regression here, it is now selecting the Scorpion (the default in upstream Fuse) instead of Pentagon... I will look at your suggestions to fix.

[2021-04-29 16:09] zzedmore commented on #54
Not really a regression. Scorpion has been the default in standalone Fuse for a long time but it can be changed in the menu. This libretro core has been stuck with the v1 choice many years ago. The three Pentagon models and the Scorpion model in the core options don't actually do anything so probably best to remove them and add a separate option for the model to use when loading SCL and TRD files,

[2021-04-29 16:14] leiradel commented on #54
There's already a core option to select the machine, add one more machine selection option is just confusing. The core should honor the currently selected machine when loading any kind of content, even if the machine can't use the content, in which case a OSD message can alert the user of the fact.

[2021-04-29 16:17] tomconte commented on #54
So the current code says:

[code]

So it looks to me it is only auto-selecting the Scorpion if I have a non-TRDOS machine, right? If I have selected a Pentagon, which is TRDOS-capable, then it should not change to Scorpion, correct?

[2021-04-29 16:46] zzedmore commented on #54
Oh yes, I see what you mean. You can select Pentagon or Scorpion as a model but if you load a TR-DOS image (SCL or TRD) then it always uses the Scorpion model regardless of what's selected in the core options.

[2021-04-29 17:06] zzedmore opened #97 ".dsk needs adding to fuse_libretro.info"
The extension `dsk` needs adding to the supported extensions in `fuse_libretro.info`, otherwise Disk files cannot be loaded from 'Load Content'. Not sure who has to handle this change ?

[2021-04-30 10:51] tomconte commented on #54
Folks, I just tested this, but I am afraid can't really see the problem. The emulator seems to honor the machine I have selected, i.e. Pentagon 128K or Pentagon 512K, when I load a TRD or SCL file, at least that is what I can see when I step through the code.

Which ROM could I use to check which type of machine is running? I am using a couple games and they just work, but I can't really see if th

[2021-04-30 11:37] tomconte commented on #97
I have submitted the change here:

https://github.com/libretro/libretro-super/pull/1530

I think libretro-super is the source for this information, but I am not sure how long it takes for all the downstream projects to pick it up... What front-end are you using? RetroPie allows me to launch .dsk games.

[2021-04-30 15:01] zzedmore commented on #97
I just tried it on Windows. When I select Load Content and it asks what core to use, Fuse is not listed as DSK is not in the recognized extensions. It may work using playlists. Just thought i'd point it out.

[2021-04-30 15:40] zzedmore commented on #54
Sorry, you're right. It does work. I tried it with a game that needed a multicolor fix to be selected for Pentagon and it does behave differently when selecting Scorpion.

Another issue that your 1.6.0 update has fixed. Thanks! I guess this can be closed now.

[2021-04-30 15:55] zzedmore commented on #97
It didn't update the last time I updated the Core Info files, not sure why. It's correctly updated now. Cheers.

[2021-04-30 15:55] #97 closed

[2021-04-30 16:00] #54 closed

[2021-04-30 16:00] zzedmore commented on #27
This works now thanks to the 1.6.0 update so can be closed.

[2021-04-30 21:17] snoofly commented on #94
some games fail to load even with no fast options but this is a problem with fuse itself not the libretro port.
chuckle egg 2 tzx comes to mind. dan dare, splatter, mask, gauntlet 2 etc there’s a bunch of them
fixing some by one method breaks others and vice versa, not sure a generic fix has been found yet
the z80 has to be used

[2021-05-01 09:44] zzedmore commented on #94
I just tried the TZX of Chuckie Egg 2 and Dan Dare and they load fine.

Gauntlet 2 TZX works if you use this Safe Load method in the first post.

There is a polarity fixed TZX of MASK posted in the FUSE Sourceforge issues.

[2021-05-01 10:05] snoofly commented on #94
On Sat, 1 May 2021 at 10:44, zzedmore ***@***.***> wrote:

With chuckle egg 2 did you try playing the game? I once did get it to load
but it crashes shortly in. What is the md5 of the tzx you used?  I made the
fast option equate to these safer settings in an adhoc build and it’s
pretty good.  Cheers for the info.

[2021-05-01 10:14] zzedmore commented on #94
I used the first TZX of Chuckie 2 from spectrumcomputing. Seems to work.

[2021-05-01 11:44] snoofly commented on #94
Odd can’t get it to load, just resets.
Which platform are you using?
i’m on Switch.

[2021-05-01 12:32] zzedmore commented on #94
Yeah this is weird. I recently just updated FUSE and the Core info files on Windows and now I can't load anything !? It just crashes Retroarch.

[2021-05-01 13:27] zzedmore commented on #94
I found a bug with the machine type, that's why I couldn't load anything. It seems to be having trouble when set to Scorpion.

Anyway, there are 3 files available for Chuckie Egg 2 on spectrumcomputing.co.uk. The first is a TAP file, the second is a TZX (the middle one of the 3 files). This one works.

[2021-05-01 13:30] zzedmore opened #98 "Model set to Scorpion freezes Retroarch when loading TZX, TAP"
@tomconte If you accidently have the Model set to Scorpion and you try to load a TAP or TZX etc. then Retroarch crashes. The log says it can't find the roms ?
[code]
etc..

Also, you can't load TAP, TZX when it's set to Scorpion 512 or 1024.

In the 'Core Information' it says that the optional roms are not detected. I have the rom files in `system/fuse`. However, they ARE detected if you put them

[2021-05-02 09:38] zzedmore commented on #98
Also, 'Core Information' says all optional roms are missing ? They say they are present if you put them directly to the system (bios) folder and not in the system/fuse folder like they're supposed to be. Scorpion still crashes Retroarch though when selected as a system and loading content. Pentagon works fine.

[2021-05-02 14:04] tomconte commented on #98
The paths to the BIOS files are wrong indeed in the info file. I have submitted the fix: https://github.com/libretro/libretro-super/pull/1541

[2021-05-02 14:06] tomconte commented on #98
The logic to load the BIOS files does not look right for Windows, indeed... I doubt in has ever worked? I will work on a fix.

[2021-05-02 14:20] tomconte commented on #98
Your log says "Opened ... from the file system", so I think it does find the BIOS files.

On RPi4, I get the following results:

- When I try to open a test TZX with Scorpion 256K, RetroArch seems to freeze.
- When I try to open a test TZX with Pentagon 512K, I land in GLUCK boot and I don't know how to use it :-)
- When I try to open a test TZX with Pentagon 128K, it runs fine.

I don't know if t

[2021-05-02 16:00] tomconte commented on #94
I just tested the "safe fast load" settings described above, with Chuckie Egg 2 TZX from spectrumcomputing.co.uk (actually pointing to World of Spectrum June 2017 Mirror on archive.org; size 49177, sha1 6354cdef91c18508a9bce87d96f532e14eb8954d).

- In "fast" mode it runs fine.
- In "safe" mode it seems to load but then exits back to the BASIC prompt...
- In "slow" mode it *also* fails to run, in t

[2021-05-02 16:07] zzedmore commented on #94
Yeah, maybe this safeload isn't that useful after all ! I only mentioned it because it's available in the Android emulator 'Spectacol' which also uses FUSE. https://github.com/bog-dan-ro/spectacol

[2021-05-02 16:12] zzedmore commented on #98
So we'll have to make sure that the model isn't set to Scorpion if we try to load a TZX or TAP otherwise it locks up. Maybe you could prevent selecting Scorpion and Pentagon 512 & 1024 from the Model option in the core settings ? That way you'll still be able to select Pentagon 128K and if it's set to anything else and you load a SCL or TRD it automatically chooses Scorpion.

[2021-05-02 16:16] zzedmore commented on #98
Also, about the roms. If the optional roms are in `system/fuse` (which is where they should be), the Core Information option says they are missing. If you put them in `system` then it says they are present ?

[2021-05-02 16:36] zzedmore commented on #98
@tomconte

So these are my findings, i've been trying this on regular FUSE.

Pentagon 128K - tapes load fine automatically.
Pentagon 512K & 1024K - a 'Gluck' menu appears and you have to select 48K or 128K and type LOAD"" and tapes load fine.
Scorpion - a 128K style menu should appear but doesn't on Libretro (because of Autoload ?) Maybe, TZX and TAP should be prevented on this machine only.

SCL

[2021-05-02 19:12] zzedmore commented on #94
May as well close this one.

[2021-05-02 20:00] snoofly commented on #94
Thanks for your research. My test agrees with yours that full fast mode is the only way to load egg2 so agree there is no safe fast mode in general.
I think it all goes back to the discussion in the sourceforge fuse forum on how certain tape statuses are handled and affect loading of certain games - perhaps if we get a generic fix for that we’ll see it merged to the libretro fuse code base.

[2021-05-03 14:19] tomconte commented on #94
Links to fuse issues for reference:

- https://sourceforge.net/p/fuse-emulator/bugs/480/
- https://sourceforge.net/p/fuse-emulator/bugs/481/
- https://sourceforge.net/p/fuse-emulator/bugs/392/

And a few others... Let's revisit once the topic has progressed on the Fuse side...

[2021-05-03 14:19] #94 closed

[2021-05-03 14:51] tomconte commented on #98
Yeah, the BIOS paths were wrong in the info file. See my comment above, I submitted a fix to the info file.

[2021-05-03 15:11] zzedmore commented on #98
So do you have any ideas about fixing the Retroarch freeze when loading tapes with Scorpion ? Is there even any need for tape support on Pentagon & Scorpion ? I thought they were just used for TR-DOS disks (SCL & TRD).

[2021-05-04 06:56] tomconte commented on #98
I will try to step through the code to see if there is something going on when auto-loading a tape in Scorpion mode... That said I think you are right that most people would probably use Scorpion/Pentagon machines for TRD/SCL roms, and tapes would be loaded with earlier "traditional" models.

[2021-05-04 08:18] tomconte commented on #82
I am going to close this for now, please re-open if the issues persists.

[2021-05-04 08:18] #82 closed

[2021-05-04 11:52] tomconte commented on #83
Below the output of `vita-parse-core` for the `psp2dmp` file above... Looks like something goes wrong somewhere in `settings_free()`.

[code]

[2021-05-04 20:02] snoofly commented on #83
This would be a great bug to fix.
Not only does it affect fuse on vita, I see same behaviour for other cores on other systems, eg vice on switch.
Mame on switch works fine though.
I’m assuming based on that it is something borked in a few cores sharing similarly broken uninitialise code when unloading a rom.

[2021-05-11 09:44] tomconte commented on #98
Finally did some tests with Fuse standalone... I think the auto-start logic for tapes on Scorpion is not working somehow... e.g. if I run:

[code]

Then I get a "R Tape loading error" (see screen capture).

<img width="323" alt="Screenshot 2021-05-11 at 11 38 38" src="https://user-images.githubusercontent.com/199027/117794367-78921e80-b24d-11eb-94e0-db24f1cb8771.png">

To start the tape I have to

[2021-05-11 13:36] tomconte opened #100 "Display size is halved when running Timex Sinclair 2068"
Details in forum post: https://spectrumcomputing.co.uk/forums/viewtopic.php?p=65446#p65446

[2021-05-12 08:31] tomconte opened #101 "Add option to disable autostart"
So that the the system menus can be accessed, and the program can be launched manually from the BASIC command line.

- Add new core option
- Make sure the games can be launched without a need to start the tape

[2021-05-12 08:36] #98 closed

[2021-05-12 21:53] snoofly commented on #101
Look forward to seeing this option.
Typed LOAD “” <enter> so many times as a kid
Can you add another option to emulate R: Tape loading error right at the end as well ;)

[2021-05-13 08:31] tomconte commented on #87
I am going to close this, now that the changes have been merged for a while.

[2021-05-13 08:31] #87 closed

[2021-05-13 08:36] tomconte commented on #67
For this type of issue we would need the link to the exact TZX image(s), please! This way we can try to reproduce the bug.

[2021-05-21 12:19] zzedmore opened #102 "Some +3 .dsk don't load if they use more than 40 tracks"
Some Spectrum +3 games use more than 40 tracks (Sword of Ianna etc.). These don't boot. We need an option to change '`+3 Drive A`' to '`Double-sided 80 track`'.

[2021-05-22 09:12] zzedmore commented on #102
@tomconte Maybe Drive A should be permanently changed to 'Double-sided 80 track' as there is only one drive available in this core anyway. I don't think there's any reason to keep 40 track drive ?

[2021-05-22 16:24] tomconte commented on #102
Right, ideally we would implement all these options like the real Fuse does but it's a lot of work :-)

I don't want to permanently change the standard Spectrum +3 drive type because I don't what side effects that could have... But I could make a special case, and change the drive type on the fly if I detect that the disk image has more than 40 tracks.

I am testing with Sword of Ianna, do you hav

[2021-05-22 19:57] zzedmore commented on #102
I can't recall what they were to be honest! They were compilations from somewhere but can't remember which ones.

[2021-05-22 19:58] zzedmore commented on #101
Is this a possibility ? Will it still load after typing `LOAD""` or will turning off autostart require you to press play ?

[2021-05-22 20:05] zzedmore commented on #101
Just tried this on regular FUSE and turning off autostart does still start the tape automatically after typing LOAD"". So the option is already in the FUSE code, just need a reference to it in the Retroarch core. This means we could type BASIC programs ! (but have to save them as States).

[2021-05-23 16:34] tomconte commented on #102
I have merge the fix, it should fix the problem with Sword of Ianna.

[2021-05-23 17:38] zzedmore commented on #102
Working great! Thanks a lot @tomconte This actually makes it better than regular FUSE because of the autodetect. Hopefully you can implement the autostart toggle ?

[2021-05-24 10:20] #102 closed

[2021-05-25 07:06] ruijtunes opened #104 "Add option to overclock the CPU."
There are a lot of games that could benefit from this.

[2021-05-25 07:08] ruijtunes opened #105 "Stoped working on WiiU!"
After the commits  on Apr 3, 2021 it stoped working on Wiiu.

[2021-05-26 09:12] tomconte commented on #105
Have you tried with the more recent builds? There were additional fixes after April 3...

Otherwise, do you have an error message or a stack trace?

[2021-05-26 20:15] ruijtunes commented on #105
Yes I have tried with newer builds. After 3/4/2021 they all fail.
In attach are 4 log files. The first one ("retroarch__2021_05_26__19_54_16.log") is with the build from 29/3/2021, it all run fine.
The others are from the latest buil from 26/5/2021. It failed.

[retroarch__2021_05_26__20_02_42.log](https://github.com/libretro/fuse-libretro/files/6549411/retroarch__2021_05_26__20_02_42.log)
[retroa

[2021-05-28 09:22] tomconte commented on #105
Thanks for the logs! I think I have a fix for that issue 🤞

Could you try this build: https://git.libretro.com/libretro/fuse-libretro/-/jobs/416333/artifacts/browse

[2021-05-28 12:24] ruijtunes commented on #105
Yes!! It Works just fine.

Thank you

On Fri, May 28, 2021 at 10:22 AM Thomas Conté ***@***.***>
wrote:

[2021-05-28 14:14] tomconte commented on #105
Thanks for testing! I have merged the fix.

[2021-05-28 14:14] #105 closed

[2021-05-29 20:42] tomconte commented on #47
WiiU version has been tested successfully with the latest build.

[2021-05-29 20:42] #47 closed

[2021-06-03 15:13] tomconte commented on #83
I have tried the latest stable RetroArch 1.9.4 on Switch, with the included libretro-fuse build, and it seems to me the problem has gone away? At least I was able to load a game, close it, and load a second one without a crash. This did *not* work with RA 1.9.3 on Switch...

[2021-06-03 16:29] 16mpx commented on #83
You are absolutely right, issue is somehow fixed and thank you to remind me to check it.

Since the issue is solved, I am closing it with this comment.

[2021-06-03 16:29] #83 closed

[2021-06-04 02:34] wermipls commented on #42
I encountered this problem as well and found it incredibly irritating (the stereo separation was ACB no matter the option & it makes tunes written with ABC in mind sound like crap). Seeing that the issue has been open for 4 years (!) and still hasn't been fixed, I decided to investigate on my own. Turns out the sound_stereo_ay value inside fuse/sound.c is set correctly according to the configurati

[2021-06-05 07:38] snoofly commented on #83
great to hear. will update later. thanks

[2021-06-16 09:29] #42 closed

[2021-06-16 09:59] #25 closed

[2021-06-16 09:59] #101 closed

[2021-06-19 08:35] #78 closed

[2021-06-19 08:36] #72 closed

[2021-06-19 08:41] ToniBC opened #109 "Control mapping does not work well"
Hello, it turns out that the mapping of the x, y, a, b buttons that are in the core options does not work correctly.

If we assign a key to any other button on the controller in the core options, everything seems to work fine, for example, if we put 1 to be the L button it works without problems, but if we put 1 to be the Y button it does not work.

There is a conflict with the 4 main buttons that

[2021-06-25 18:58] zzedmore opened #110 "Allow on screen keyboard keys to be selected with touchscreen"
As the title says, it would be a lot more user friendly for touch screen devices to be able to select the virtual keyboard keys with touch input.

A couple more things regarding the on screen keyboard, should I open these as separate issues ? -

Option to keep the virtual keyboard on screen instead of disappearing after each keypress. (Close manually with the Select button).

Highlight the Shift a

[2021-07-07 05:46] cawidtu opened #111 "Kempston joystick no longer working since upgrade of Fuse to version 1.6.0"
I am running RetroPie, commit 1e26817647d9a97a220eeda1394c955efcbb2c7f, on an Raspberry Pi 4B with Raspbian OS Buster. This framework compiles the latest fuse-libretro core from https://github.com/libretro/fuse-libretro. Unfortunately, the Kempston joystick does not work for me with these builds: for example, in Jet Set Willy the character is constantly jumping; on the other hand, Cursor joystick

[2021-08-15 21:26] Pete-McDonald opened #113 "tzx images will not load if "fast load" enabled"
Hi All,

First, thanks for the awesome work you do.   I'm trying to use fuse within Retroarch to load Spectrum 48K games.

Using RetroArch 1.9.7 (and saw this in 1.9.5) RA crashes on trying to load a tzx image if "Fast Load" is enabled.  Have tried many tzx images and all are affected. z80 seems to work just fine.

When fast load is disabled, it shows a grey sinclair 1982 screen - and I hear the n

[2021-08-16 10:12] tomconte commented on #113
Hi and thanks for your report!

On which platform did you see this behaviour? I just tested a TZX image with RetroArch 1.9.7 on Raspberry Pi (via RetroPie) and it worked fine.

Also, could you link to a TZX file that triggers the problem, and any error or log messages from RetroArch?

[2021-08-16 10:34] Pete-McDonald commented on #113
Hi Tom,

Thanks so much for your quick response.  I was testing this on Win x64.

Your message got me to try a clean install of RA and Fuse on a different PC - and it loaded a tzx just fine. Apologies for wasting your time, it must be something on that particular machine!

[2021-08-16 10:34] #113 closed

[2021-08-16 13:18] tomconte commented on #111
Hi and thanks for your report!

I have investigated similar reports with Jet Set Willy and Solomon's Key before. The issue happened when using .z80 versions of these games, and the same issue actually appears in standalone Fuse 1.6.0 as well... So, the conclusion was that some change in Fuse broke the .z80 versions of these games, and libretro-fuse is just a port of Fuse to libretro, so the same i

[2021-08-16 14:16] zzedmore commented on #111
@tomconte
I think the issue with z80's are that they use the joystick that was selected when the snapshot was saved. There is an option in standalone Fuse called 'snap joystick prompt'. So when loading a z80 it will show a window saying what joystick was used and give an option to select a device to use that joystick type. Not sure if that could be easily implemented into Retroarch ? Maybe force c

[2021-08-16 14:30] zzedmore opened #114 "Beeper volume, AY volume"
Could this be added to the core options ? In Fuse there are options to choose the Beeper and/or AY volume levels, so you could actually turn down the AY music and leave the Beeper at the original volume etc. And vice-versa.

[2021-08-16 14:56] tomconte commented on #111
Thanks @zzedmore, I did not know about that! I will check it out.

[2021-09-03 15:39] FeRcHuLeS opened #115 "Not working on Nvidia Shield Tv"
Everytime trying to run a game the Retroarch app closes right away, just tried a .tap extension game.

[2021-09-03 20:10] FeRcHuLeS commented on #115
It's because of Run-ahead is on, so this core is incompatible with Run-ahead.

[2021-09-03 20:10] #115 closed

[2021-09-18 19:25] Roolandoo opened #117 "Default keyboard"
Hi,
I am a homebrew ZX Spectrum games developer and I am trying to find a method to "package" the FUSE emulator and my game, so that the NON-RETRO player does not have to fight with the emulator (as if it were a Windows game).

To do this, I found this tool  [https://github.com/kivutar/rombundler] that uses **fuse_libretro.dll** and creates an .EXE that runs the game transparently to the user.

Ev

[2021-09-19 09:46] leiradel commented on #117
You have to configure port 3 in the frontend to use the Sinclair Keyboard, take a look [here](https://docs.libretro.com/library/fuse/). However, it doesn't seem that ROMBundler has an option for that.

[2021-09-19 11:12] Roolandoo commented on #117
Yes, I know, Leiradel.
That is precisely the problem: that ROMBundler does not have a Frontend. Only have access to the main options.

**Is there any other way to activate the keyboard by default?**

[2021-09-19 12:09] leiradel commented on #117
Technically speaking, ROMBundler **is** a Libretro frontend, but that's beside the point.

Activating the keyboard by default requires changes in the Fuse core. Adding an option to assign the Sinclair Keyboard to a port requires changes to ROMBundler.

My opinion is that ROMBundler should provide options in its config file to allow the assignment of devices to ports, as this also benefits other co

[2021-10-03 11:32] Roolandoo commented on #117
This issue is now resolved thanks to @kivutar adding keyboard support in ROMBundler.
Thanks for everything.

[2021-10-03 11:32] #117 closed

[2021-10-03 11:52] Roolandoo opened #118 "Video border and Savestates"
A couple of doubts:
1) Would it be possible to add an intermediate solution to the CORE option fuse_hide_border = enable / disabled?
If I enable it, the video border occupies TOO much area on the screen but if I deactivate it, the border effects are not seen. It would be interesting to be able to see them but for them to occupy less screen area

I attach an example.
![Screenshot_1](https://user-im

[2021-11-22 17:23] ruijtunes opened #121 "Input not working on WiiU"
Input no longer working since commits on Retroarch from  6 October 2021.

[2021-11-22 20:30] Ploggy commented on #121
I'm not sure if this is related to your issue or not but if I try to change the input device in the quick menu I get a WiiU crash
![20211122_202925](https://user-images.githubusercontent.com/1160255/142930938-5473e07f-3369-4cfc-8bcd-7d9acb2f5f1b.jpg)

[2021-12-29 23:35] atoone opened #122 "Joypad mapping to keyboard"
Running under Retroarch, Fuse 1.6.0 on the Anbernic RG351 -

Can only map Sinclair keyboard if Port 1 Control is set to Mapped Port 3 (Using Port 3 doesn't work, even if Port 1 and Port 2 are set to none) - but this looses the ability to map a button to the keyboard overlay option.

[2022-01-31 16:52] TiBeN opened #123 "[Feature Request] M3U support"
Like in others computer emulation cores, M3U would be a great improvement. I have a bunch of multi sided tzx games i can't use because i can't switch media at runtime.

This has been already reported at #72, i don't know why this issue has been closed seens this FR has not been adressed.

[2022-02-04 13:47] garymohan opened #124 "Crash on Wii U"
On Wii U, ZX Spectrum games start just fine.  As soon as you attempt to change the joystick from Retropad to Cursor Joystick, it crashes.

[2022-02-24 17:55] ToniBC commented on #109
The mapping of the buttons in the core options is quite broken or does not work correctly.

I did not find a way to assign keys to the controller, which would be super useful for all devices that cannot use a keyboard.

Has anyone found a way to do it or is it still a bug?

[2022-02-26 15:38] MartinMSPedersen commented on #123
Yes. I would be nice with multitape support - also for the ZX81 core

[2022-03-16 17:54] Lantern-Jaw opened #126 "Playstation Classic quits on "Close Content""
Clicking "close content" causes Retroarch to go back to the Project Eris title screen. I wouldn't really mind this at all but the crash also erases game-specific options file and core overrides. Time spent mapping specific keys to controller buttons is wasted and has to be done all over again.

Running a new game (without closing) and even launching a different core/game does not have this effect.

[2022-03-18 15:14] metallic77 commented on #110
Second this

[2022-05-31 17:41] Tasosgemah opened #133 "TZX games crash when XBOX one controller is enabled"
Whenever i try to load some TZX games with fast load ON, they crash RetroArch if my controller is connected (xbox one).

If i disconnect the controller, the games load fine.

I can reproduce the issue all the time with many games. This doesn't happen with TAP roms.

I use Windows 10.

[2022-07-25 00:36] roslof commented on #111
Good day all. Wanted to note that this reported issue still presents a huge compatibility issues for a large number of .z80 files. The only workarounds for affected games are 1) to leverage non-.z80 images (which don't exist in some cases) or 2) to use an older version of libretro fuse (1.1.1 25d8f17 as an example works perfectly fine). Any hope we can better understand what changed in this core a

[2022-08-01 23:14] allsorts46 opened #134 "Standalone (Start without content)"
I'm sorry if I have just missed this somehow, but is it possible to start the FUSE core without choosing a game to load? I noticed some other cores (eg VICE for VIC-20) allow starting in this way, which behaves just as if you'd turned on the machine.

I'd really like to use the Sinclair BASIC on the Spectrum +2. Normally you'd choose it from the main menu after turning the Spectrum on but I couldn

[2022-08-02 15:28] snoofly commented on #134
Pretty sure there was a fuse core setting added a few months back to not auto load anything and bring you to the basic interpreter.

[2022-08-02 19:02] allsorts46 commented on #134
I did see this: https://github.com/libretro/fuse-libretro/pull/108
And something else I can't find now about auto-loading tapes.

As I understand though, this just means that you still have to choose content, but then have to enter 'Load ""' to initiate the tape load on the Spectrum.

The VIC-20 core, by comparison, literally displays an additional option in Retroarch to start without content. I d

[2022-08-13 20:33] Svipur opened #135 "[Feature request] Add RetroAchievements support"
Via rcheevos.

The rudimentary list of requirements is found here: https://docs.retroachievements.org/System-X-wen/#requirements

The current list of identified issues with the FUSE core is found here under the system ID 59: https://docs.retroachievements.org/Emulator-Support-and-Issues/#unsupported-consoles

[2022-08-14 11:47] leiradel commented on #135
From the list of requirements:

* Requires rcheevos memory map to leverage memory descriptors
    * I believe RALibretro supports Libretro's memory descriptors, which are already [implemented](https://github.com/libretro/fuse-libretro/blob/master/src/libretro.c#L779) in the Fuse core
* Requires ability to map keyboard to port 3 (RALibretro)
    * Not sure what this means, but RALibretro could easi

[2022-08-25 21:57] Tovarichtch opened #136 "[Feature Request] - Lightgun Support"
Self-explanatory. Is it possible to add such support ? More than 15 games had light gun support on this system like the classic Operation Wolf.

Thank you in advance.

[2022-08-29 07:38] Darknior commented on #136
Yes some games are so cool :)

Magnum Light Phaser games came with the gun:

- Bullseye - Magnum 1987 Macsen Software
- Missile Ground Zero - Magnum 1989 Mastertronic
- Operation Wolf - Magnum 1989 Ocean
- Robot Attack - Magnum 1990 Mastertronic
- Rookie - Magnum 1989
- Solar Invasion - Magnum 1990 Mastertronic
- Target Plus

We can see them in action on this video : https://www.youtube.com/watch?

[2022-09-24 10:38] cyberluke commented on #16
Did you try Spectrum 48K NTSC Bios for 60 Hz?

[2022-09-24 10:52] cyberluke opened #137 "Support native resolution output"
Windows 10 - AMD CrtEmuDriver

Resolutions in Windows 10:
320x240
256x224
256x192 (this should be native ZX Spectrum resolution)
248x192
240x192

What part can I change in the code to run in 256x192? Now it always runs in 320x240 on 15Khz CRT (Sony PVM) and messing with video border does not help - it scales in a ugly way and stretches horizontally so square image is not square anymore.

Found som

[2022-09-24 16:38] cyberluke commented on #137
Ok, so I enabled debug and have some screenshots:
Full Border will have 320x240
![fuse_resolutions_full_border](https://user-images.githubusercontent.com/1111375/192109088-84b7c57c-169d-41dc-bcf1-a47bfb768d2d.jpg)

[2022-09-24 16:39] cyberluke commented on #137
Minimal border will have 264x198
![fuse_resolutions](https://user-images.githubusercontent.com/1111375/192109117-a8e64058-3643-4f8e-a6bb-315c94d619dd.jpg)

[2022-09-24 16:40] cyberluke commented on #137
Finally no border will have 256x192 and I have that super resolution defined as well. But the behavior or aspect ratio is not corrent.
![fuse_resolutions](https://user-images.githubusercontent.com/1111375/192109148-d3fd9845-19dd-481a-94a4-4537269de5c8.jpg)

I'm uploading real photo from iPad down below

[2022-09-24 16:43] cyberluke commented on #137
![81B0C1C3-5510-47C5-8CF8-B58628EB7D18](https://user-images.githubusercontent.com/1111375/192109246-4b4a3d7b-5182-46ce-b512-ee89e836a90b.jpeg)
![B6A76D20-3C0F-4E37-B960-1BF3A65E09F7](https://user-images.githubusercontent.com/1111375/192109256-932da9b7-35e9-4e84-9ef4-f8255ca7421a.jpeg)

Here is the problem, 256x192 (no video border option). Should not have top and bottom border and left and right s

[2022-09-24 16:53] cyberluke commented on #137
The same issue happens when not using super resolution 2560x? but in RetroArch setting CRT SwitchRes to NATIVE

Now it seems to switch to 256x192, but the output is still exactly same as on TV screenshot above.

Log output:
![fuse_resolutions_crtswitch_native](https://user-images.githubusercontent.com/1111375/192109704-64d8b1b2-8154-4b23-bc05-c868d6622ccc.jpg)

[2022-09-24 20:11] hizzlekizzle commented on #137
Are you sure that's not working as intended? All of the debug info looks like it is, AFAICT.

[2022-09-25 10:10] cyberluke commented on #137
Yes, judging by the console logs, it looks ok.

I don't have much experience with gaming on TV. This Sony PVM probably supports only 240p and 480i. I can switch to other resolutions, but only 240p scanlines do look good. The scanlines do not change when using any other resolutions (I thought it would).

**So the question is**: What TV or CRT monitor would natively display this 256x192 including sc

[2022-09-25 10:16] cyberluke commented on #137
And the reason why I posted it here is that all other RetroArch emulators do display properly on this exact configuration:
Amiga PUAE: works correctly (both PAL and NTSC)
NES: works correctly
SNES: works correctly
RetroArch DOSBOX: works correctly (tested JazzJack Rabbit and Duke Nukem 3d in 320x200)

Only Fuse with 256x192 does not produce the correct result.

[2022-09-26 02:43] cyberluke commented on #137
The issues are due to tech debt in RetroArch. Not implementing SwitchRes properly, using outdated implementation and/or not providing switchres.ini by default.

On top of that, Sony PVM is the gold standard and almost everyone, who does emulation with CRT gaming has one. It is the most common monitor for 15kHz. It should be finally supported and tested.

Sources:
https://forums.libretro.com/t/forc

[2022-09-26 02:43] #137 closed

[2022-09-26 03:26] cyberluke commented on #137
I found the bug and solution. Switchres is by default using monitor setting: 'arcade_15'

Which results in this:
[INFO] Switchres: Modeline "704x576_50i 15.677190KHz 50.006985Hz" 14.344628 704 733 800 915 576 583 589 627 interlace  -hsync -vsync

If you create switchres.ini (from the doc link) and set monitor to 'pal'
It will use this modeline and it will work:
[INFO] Switchres: Modeline "704x576_

[2022-10-31 16:29] mnx-xx opened #138 "Fuse core for WII U crashes after selecting joystick, and no on-screen keyboard."
As I write in title, after selecting joystick from Controls menu for Port 1 (Kempston, Cursor or so)  and returning to game, Retroarch completely freezes, and WII U must be hard shut down to restart.
Also, on-screen keyboard over the defined key (- in menu, but also any other defined) does not work. It shows nothing.
It's the same for both stable and latest night-builds.
![IMG_20221030_073505](htt